@use '../../../style/scss/variables.scss' as *;

.catalog-s {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    margin-bottom: 50px;
    height: 340px;
    position: relative;
    background: $lgray;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__fot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-grow: 10;
      margin-top: 20px;
    }

    > span {
      display: flex;
      max-width: 650px;
      color: $Darkestgray;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }
    }
  }

  &__btn {
    max-width: 224px;
    height: 54px;
    gap: 15px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      height: 44px;
    }
  }

  &__info {
    position: relative;
    z-index: 3;
    font-size: 25px;
    font-weight: 700;
  }

  &__img {
    position: absolute;
    display: flex;
    align-items: center;
    height: 340px;
    right: 0;
    top: 0;
    mix-blend-mode: darken;

    @media only screen and (max-width: 991px) {
      height: 240px;
      width: 240px;
      bottom: 0;
      top: auto;

      img {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }

    img {
      &.mobile {
        display: none;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__icon {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    background: $lgray;
    width: 120px;
    height: 120px;
    border-radius: 10px;

    @media only screen and (max-width: 991px) {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
    padding: 30px;
    border: 1px solid $gray;
    border-radius: 20px;

    position: relative;
    background: #fff;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      min-height: inherit;
      padding: 15px;
      gap: 30px;
    }

    &:last-child {
      grid-column: span 2;

      @media only screen and (max-width: 991px) {
        grid-column: span 1;
      }
    }

    &:hover {
      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      .catalog-s__text {
        color: $primary;
      }
    }

    &::before {
      width: 120px;
      height: 120px;
      position: absolute;
      content: '';
      display: block;
      background: $lgray;
      border-radius: 10px;
      transition: 300ms;
      overflow: hidden;

      @media only screen and (max-width: 991px) {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }
}
