@use '../../../style/scss/variables.scss' as *;

.sol-banner {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    padding: 50px;
    color: #fff;
    background: url('/images/sol-banner.png');
    min-height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    @media only screen and (max-width: 991px) {
      background: url('/images/sol-banner-mobile.png') 50% 50% no-repeat;
      background-size: cover;
      padding: 15px;
    }
  }

  &__title {
    margin-bottom: 30px;
    max-width: 80%;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  &__desc {
    max-width: 600px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 500px;
    color: $gray;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      margin-top: 30px;
      gap: 10px;
      flex-wrap: wrap;
    }

    span {
      padding: 10px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      border-radius: 10px;
      transition: 300ms;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background: #fff;
        color: $primary;
      }

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }
    }
  }

  &__btn {
    gap: 10px;
    max-width: 212px;
    height: 54px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      height: 44px;
    }
  }


}
