@use '../../../style/scss/variables.scss' as *;

.about-c {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 700px;
    margin-bottom: 50px;


    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__label {
    font-size: 25px;
    color: $primary;
    margin-bottom: 50px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__img {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;

    @media only screen and (max-width: 991px) {
      height: 179px;
    }
  }

  &__grid {
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;

    background: $primary;


    @media only screen and (max-width: 991px) {
      height: 250px;
      padding: 15px;
    }

    .about-c__name {
      color: #fff;
    }

    &--bg {
      background: url('/images/about-c-1.png') 50% 50%;
      overflow: hidden;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #202020;
    border-radius: 20px;
    overflow: hidden;

    &--img {
      @media only screen and (max-width: 991px) {
        height: 69px;
      }
    }

    @media only screen and (max-width: 991px) {
      height: 150px;
    }
  }

  &-regions {
    grid-column: span 2;
    padding: 30px;
    border-radius: 10px;
    background: $lgray;
    min-height: 300px;
    position: relative;

    @media only screen and (max-width: 991px) {
      grid-column: span 1;
      min-height: 150px;
      padding: 15px;
      overflow: hidden;
    }

    &__map {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        height: 147px;
        bottom: -30px;
      }
    }
  }

  &-partner {
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
    background: $lgray;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 300px;


    @media only screen and (max-width: 991px) {
      padding: 15px;
      min-height: 250px;
    }

    .about-c__text {
      max-width: 140px;
      margin-bottom: 0;
    }

    &__img {
      display: flex;
      align-items: center;
      position: absolute;
      top: 86px;
      right: 0;

      @media only screen and (max-width: 991px) {
        height: 160px;
        bottom: 11px;
        top: auto;
      }
    }
  }

  &-clients {
    grid-column: span 2;
    padding: 30px;
    border-radius: 10px;
    background: $lgray;

    @media only screen and (max-width: 991px) {
      grid-column: span 1;
      padding: 15px;
    }

    &__grids {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 78px;
      margin-bottom: 30px;


      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    &__grid {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 991px) {
        height: 35px;
      }
    }
  }
}
