<div class="about-c">
  <div class="container">
    <div class="about-c__inner">
      <h2 class="about-c__title title">Качество, которому доверяют</h2>

      <div class="about-c__text">
        Начало работы - 1989 год. Собственное производство, собственная команда
        разработчиков электроники и программного обеспечения.
      </div>

      <div class="about-c__label">На сегодняшний день</div>

      <div class="about-c__grids">
        <div class="about-c-regions">
          <div class="about-c__name">50 регионов</div>

          <div class="about-c-regions__map">
            <img src="images/map.png" alt="" />
          </div>
        </div>

        <div class="about-c__grid about-c__grid--bg">
          <div class="about-c__name">
            350 городов России, Казахстана и Узбекистана
          </div>
        </div>

        <div class="about-c__grid">
          <div class="about-c__name">35+ лет на рынке</div>
          <div class="about-c__img">
            <img src="images/about-c-2.png" alt="" />
          </div>
        </div>

        <div class="about-c-partner">
          <div class="about-c__name">
            Главный партнер - Внведомственная охрана Росгвардии
          </div>

          <div class="about-c__text">более 500 подразделений</div>
          <div class="about-c-partner__img">
            <img src="images/about-c-3.png" alt="" />
          </div>
        </div>

        <div class="about-c__item">
          <div class="about-c__item--img">
            <img src="images/about-c-4.png" alt="" />
          </div>
        </div>

        <div class="about-c-clients">
          <div class="about-c__name">500+ клиентов</div>

          <div class="about-c-clients__grids">
            <div class="about-c-clients__grid">
              <img src="images/about-icon-1.png" alt="" />
            </div>
             <div class="about-c-clients__grid">
              <img src="images/about-icon-2.png" alt="" />
            </div>
             <div class="about-c-clients__grid">
              <img src="images/about-icon-3.png" alt="" />
            </div>
             <div class="about-c-clients__grid">
              <img src="images/about-icon-4.png" alt="" />
            </div>
             <div class="about-c-clients__grid">
              <img src="images/about-icon-5.png" alt="" />
            </div>
             <div class="about-c-clients__grid">
              <img src="images/about-icon-6.png" alt="" />
            </div>
          </div>

          <div class="about-c-clients__text">
            В том чисиле Каскад ангарских электростанций (ГЭС), Иркутский алюминиевый завод, Авиастроительная корпорация "Иркут", Ангарская нефтехимическая компания, корпорация АЛРОСА, Норильский никель, Роскосмос.

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
