@use '../../../style/scss/variables.scss' as *;

.lk-personal {
  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 26px;
    }
  }

  &__item {
    padding: 30px;
    background: $lgray;
    border-radius: 20px;

    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__label {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      max-width: 200px;
      width: 100%;
      display: block;
      color: $Darkestgray;
    }
  }

  &__fields {
    .field-password {
      top: 40px;
      right: 10px;
    }
  }

  &__desc {
    max-width: 50%;
    font-size: 14px;
    color: $Darkestgray;
    margin-top: 10px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      width: 100%;
      gap: 1.25rem;
      margin-top: 20px;
    }
  }

  &__btn {
    font-family: inherit;
    font-weight: 600;
    max-width: 242px;
    height: 42px;
    font-size: 16px;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    background: $lgray;
    border-radius: 10px;
    color: $primary;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $primary;

      svg {
        path {
          stroke: #fff;
        }
      }

      color: #fff;
    }

    @media only screen and (max-width: 991px) {
      width: 100%;
      justify-content: center;
    }
  }
}
