@use '../../../style/scss/variables.scss' as *;

.contacts {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
      flex-direction: column;
      gap: 10px;
    }

    span {
      padding: 15px 25px;
      border-radius: 10px;
      background: $lgray;
      cursor: pointer;
      transition: 300ms;

      @media only screen and (max-width: 991px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.active {
        background: $primary;
        color: #fff;
      }

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }

  &-req {
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      align-items: center;
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-bottom: 30px;
      }

      .footer-info__items {
        height: fit-content;
      }
    }

    &__items {
      height: fit-content;
    }

    &__label {
      font-size: 25px;
      font-weight: 600;
      display: block;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &__content {
      background: $lgray;
      padding: 50px;
      border-radius: 20px;
      height: 100%;

      @media only screen and (max-width: 991px) {
        padding: 15px;
      }
    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;
      gap: 5px 15px;

      @media only screen and (max-width: 991px) {
        gap: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: $Darkestgray;
      }
    }

    &__map {
      display: flex;
      height: 650px;
      width: 100%;
      align-items: center;
      border-radius: 20px;
      overflow: hidden;

      
      @media only screen and (max-width: 991px) {
        height: 595px;
      }

      > div {
        width: 100%;
        height: 100%;
      }

      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
