<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__nav">
        <span class="active" data-contacts-tab> Контакты и реквизиты </span>
        <span data-contacts-tab> Монтажные организации </span>
        <span data-contacts-tab> Представительства в вашем регионе </span>
      </div>

      <div class="contacts__item" data-contacts-item>
        <div class="contacts-req">
          <div class="contacts-req__info">
            <div class="contacts-req__content">
              <span class="contacts-req__label">ООО “Сократ”</span>
              <div class="contacts-req__aside">
                <div class="contacts-req__grid">
                  <span>Полное наименование организации:</span>
                  <p>
                    Общество с ограниченной ответственностью Охранное бюро
                    "СОКРАТ"
                  </p>
                </div>
                <div class="contacts-req__grid">
                  <span>Адрес:</span>
                  <p>664007, г. Иркутск, пер. Волконского, 2</p>
                </div>
                <div class="contacts-req__grid">
                  <span>ИНН:</span>
                  <p>3808021624"</p>
                </div>
                <div class="contacts-req__grid">
                  <span>Электронная почта:</span>
                  <a href="mailto:">sokrat@sokrat.ru</a>
                </div>
                <div class="contacts-req__grid">
                  <span>Полное наименование организации:</span>
                  <a href="tel:">+7 (3952) 640 663</a>
                </div>
              </div>
            </div>

            <div class="contacts-req__items">
              <div class="footer-info__items">
                <div class="footer-info__item">
                  <span>Отдел продаж</span>

                  <a href="#">+7 3952 640 663. доб. 3</a>
                  <a href="#">+7 3952 206 477</a>
                  <a href="#">zakaz@sokrat.ru</a>
                </div>
                <div class="footer-info__item">
                  <span>Монтажный отдел</span>

                  <a href="#">+7 3952 640 663. доб. 3</a>
                  <a href="#">+7 3952 206 477</a>
                  <a href="#">zakaz@sokrat.ru</a>
                </div>
                <div class="footer-info__item">
                  <span>Отдел сопровождения</span>

                  <a href="#">8 800 333 66 70</a>
                  <a href="#">support@sokrat.ru</a>
                </div>
                <div class="footer-info__item">
                  <span>Бюро ремонта</span>

                  <a href="#">+7 3952 640 663. доб.415</a>
                  <a href="#">remont@sokrat.ru</a>
                </div>
              </div>
            </div>
          </div>

          <div class="contacts-req__map">
            <div style="position: relative; overflow: hidden">
              <iframe
                src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=104.303262%2C52.287352&z=17"
                width="560"
                height="400"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
