@use '../../../style/scss/variables.scss' as *;
.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 53px;

    @media only screen and (max-width: 1400px) {
      gap: 15px;
    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;


    a {
      &:hover {
        color: $primary;
      }
    }
    
    &.dropdown {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 30px;
        background: transparent;
        bottom: -30px;
      }
    }
    &.dropdown.is-open {
      .menu__item--list {
        opacity: 1;
        visibility: visible;
        z-index: 10;


        @media only screen and (max-width: 991px) {
          display: block;
        }
      }

      a {
        svg {
          transform: rotate(180deg);
        }
        
      }


      >a {
        @media only screen and (max-width: 991px) {
          color: $primary;

          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      @media only screen and (max-width: 1100px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }

      svg {
        transition: 300ms;
      }

      
    }

    &--list {
      position: absolute;
      border-radius: 20px;
      border: 1px solid #cad3d9;
      background: #fff;
      padding: 30px 15px;
      left: 50%;
      top: 110%;
      width: 100%;
      transform: translateX(-50%);
      min-width: 259px;
      opacity: 0;
      visibility: hidden;


      @media only screen and (max-width: 991px) {
        min-width: initial;
        left: 0;
        top: 0;
        padding: 0;
        border: 0;
        position: relative;
       
        transform: translate(0);
        margin-top: 15px;
        display: none;

        &.active {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__sub {
    &-list {
      .menu__item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
