.payment {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }


  &__item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
    span {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
      display: block;

      @media only screen and (max-width: 991px) {
        font-size: 20px;
      }


    }
  }
}
