<div class="payment">
  <div class="container">
    <div class="payment__inner">
      <div class="payment__items">
        <div class="payment__item">
          <span>Оплата</span>
          <p>
            Уважаемые покупатели! <br />
            <br />
            Вы можете произвести оплату товара, оформленного на нашем сайте,
            удобным для вас способом. Оплата доступна по банковским реквизитам,
            указанным в счёте, который находится в вашем личном кабинете. При
            желании вы также можете внести оплату лично, посетив наш офис в
            городе Иркутске, где специалисты ответят на ваши вопросы и помогут
            завершить покупку.
          </p>
        </div>
        <div class="payment__item">
          <span>Доставка</span>
          <p>
            Отгрузка вашего заказа производится исключительно после его полной
            оплаты. <br />
            <br />
            Мы обеспечиваем бесплатную доставку груза до любой выбранной вами
            транспортной компании — это входит в стандартный сервис и не требует
            дополнительных затрат. Далее все услуги, связанные с перевозкой
            товара транспортной компанией, включая тарифы, сроки и условия
            доставки, оплачиваются вами самостоятельно согласно правилам
            выбранного перевозчика.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
