@use './variables.scss' as *;

@font-face {
  font-family: 'Wix Madefor Display';
  src: url('../fonts/WixMadeforDisplay-Medium.woff2') format('woff2'),
    url('../fonts/WixMadeforDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  src: url('../fonts/WixMadeforDisplay-Bold.woff2') format('woff2'),
    url('../fonts/WixMadeforDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  src: url('../fonts/WixMadeforDisplay-Regular.woff2') format('woff2'),
    url('../fonts/WixMadeforDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  src: url('../fonts/WixMadeforDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/WixMadeforDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  src: url('../fonts/WixMadeforDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/WixMadeforDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Wix Madefor Display';
  font-weight: 400;
  font-size: 16px;
  position: relative;
  color: $black;

  &.hidden {
    overflow: hidden;
    padding-right: 15px;
  }

  &.menu {
    overflow: hidden;
  }
  &.select-close {
    overflow-x: hidden;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(0, 0, 0, 0.7);
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 8888;
    display: none;
  }
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  min-height: 100vh;
}

.main {
  flex-grow: 10;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  border: 0;
  background: none;

  border-radius: 10px;

  &-blue {
    background: $primary;
    color: #fff;

    &:hover {
      background: $lightprimary;
    }
  }

  &-white {
    background: #fff;
    color: $primary;

    &:hover {
      color: #fff;
      background: $primary;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}

.swiper-pagination {
  &-bullet {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: none;
    opacity: 1;

    border: 1px solid $primary;

    &-active {
      width: 40px;
      background: $primary;
    }
  }
}

.title {
  font-size: 48px;
  font-weight: 600;

  @media only screen and (max-width: 991px) {
    font-size: 30px;
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  flex-shrink: 0;
}

.checkbox.disabled {
  .checkbox__text {
    opacity: 0.2;
  }
}

.checkbox__text {
  font-size: 14px;
  margin-left: 10px;
  line-height: 120%;

  a {
    color: $primary;
  }
}

.checkbox__inner span {
  text-align: center;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: 300ms;
  z-index: 1;

  border-radius: 4px;
}

.checkbox__inner span::before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 7px;
  border-radius: 50%;
  background: url('/images/checked.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.checkbox__inner input {
  display: none;
}

.checkbox__inner input:checked + span {
  background: $primary;
}

.checkbox__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.field {
  display: block;
  position: relative;

  &__name {
    display: block;
    color: $Darkestgray;
    margin-bottom: 5px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &-password {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;

    @media only screen and (max-width: 991px) {
      top: 12px;
      right: 6px;
    }

    &__open {
      display: none;
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input,
  textarea {
    width: 100%;
    height: 52px;
    border: 0;
    border-radius: 10px;
    color: #202020;
    padding: 15px;
    font-size: 16px;
    font-family: inherit;
    outline: none;

    @media only screen and (max-width: 991px) {
      height: 42px;
    }

    &:focus {
      border: 1px solid $primary;
    }

    &::-webkit-input-placeholder {
      color: $Darkestgray;
    }
    &:-moz-placeholder {
      color: $Darkestgray;
    }
    &::-moz-placeholder {
      color: $Darkestgray;
    }
    &:-ms-input-placeholder {
      color: $Darkestgray;
    }
  }

  textarea {
    resize: none;
    min-height: 120px;
    height: 100%;
  }

  &-error {
    input {
      color: #a00;
      border: 1px solid #a00;
    }
  }
}

.overhidden {
  opacity: 0.3;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: none;

  &.active {
    display: block;
  }
}

.search-country {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 939px;
  padding: 50px;
  z-index: 111;
  border-radius: 20px;
  background: #fff;
  width: 100%;
  display: none;

  @media only screen and (max-width: 991px) {
    padding: 30px 15px;
    height: 100%;
    border-radius: 0;
  }

  &.active {
    display: block;
  }

  &__close {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 26px;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .header-search {
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    width: auto;
    height: auto;
    height: 50px;

    input {
      display: block;
    }

    &.active {
      @media only screen and (max-width: 991px) {
        height: 50px;
        input {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
          height: 50px;
        }
      }
    }

    &__container {
      &.has-value {
        .header-search__btn {
          background: $primary;
        }
      }
    }

    .header-search__btn {
      top: 52%;
      right: 5px;
      @media only screen and (max-width: 991px) {
        background: #fff;
        right: 10px;
        top: 50%;
      }
    }

    @media only screen and (max-width: 991px) {
      margin-top: 30px;
    }

    &__clear {
      top: 53%;

      @media only screen and (max-width: 991px) {
        top: 50%;
      }

      &:hover {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
      @media only screen and (max-width: 991px) {
        right: 55px;
      }
    }

    &__btn {
      @media only screen and (max-width: 991px) {
        width: auto;
        padding: 10px;
        span {
          display: none;
        }
      }
    }
  }

  &__pop {
    display: flex;
    align-items: center;
    gap: 15px;

    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;
    }

    span {
      background: $lgray;
      padding: 10px;
      border-radius: 10px;
      transition: 300ms;
      cursor: pointer;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }

  &__nav {
    grid-gap: 15px 44px;
    height: 244px;
    overflow: auto;
    margin-top: 30px;

    @media only screen and (max-width: 991px) {
      height: calc(100vh - 402px);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background: $lgray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      width: 10px;
      background: $gray;
      border-radius: 10px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 44px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
    li {
      list-style: none;

      a {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.45;
  background: #000;
  animation: none !important;
}

.fancybox-button {
  display: none;
}

.modal {
  display: none;
  max-width: 700px;
  border-radius: 20px;
  width: 100%;

  @media only screen and (max-width: 991px) {
    padding: 15px;
  }

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .feedback {
    &__title {
      text-align: center;
      font-size: 36px;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        font-size: 26px;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }

    &__text {
      text-align: center;
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    &__top {
      @media only screen and (max-width: 991px) {
        grid-gap: 15px;
        margin-bottom: 15px;
      }
    }

    &__form {
      .field {
        input {
          background: $lgray;
          outline: none !important;
        }
      }

      .checkbox {
        margin: 20px 0 30px;

        @media only screen and (max-width: 991px) {
          margin: 15px 0 20px;
        }

        &__inner {
          span {
            background: $lgray;
          }

          input:checked + span {
            background: $primary;
          }
        }
      }
    }
  }
}

.down-up {
  position: fixed;
  bottom: 120px;
  right: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: 300ms;
  display: none;

  @media only screen and (max-width: 991px) {
    right: 15px;
    width: 40px;
    height: 40px;
  }

  &.active {
    position: absolute;
  }

  &.show {
    display: flex;
  }
}

h1.title {
  font-size: 52px;
  color: $primary;
  font-weight: 600;
  margin-bottom: 50px;

  @media only screen and (max-width: 991px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.btn-swiper-prev,
.btn-swiper-next {
  width: 54px;
  height: 54px;
  background: $lgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;

  svg {
    path {
      transition: 300ms;
    }
  }

  &:hover {
    background: $primary;

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;

    svg {
      path {
        stroke: $gray;
      }
    }
  }
}

.btn-swiper-prev {
  transform: rotate(180deg);
}

.swiper-button-lock {
  display: none;
}

// Page-content

.page-content {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    color: $primary;
  }

  h4 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 50px;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-top: 30px;
    }
  }

  b {
    font-weight: 600;
  }

  ul {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-top: 30px;
    }

    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background: $primary;
        left: 0;
        top: 6px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.error {
  margin: 188px 0;

  @media only screen and (max-width: 991px) {
    margin: 75px 0;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  &__desc {
    color: $Darkestgray;
    text-align: center;
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__btn {
    max-width: 272px;
    margin: 0 auto;
    gap: 10px;
    height: 54px;

    @media only screen and (max-width: 767px) {
      max-width: 244px;
      height: 40px;
      font-size: 14px;
    }
  }
}

.radio {
  cursor: pointer;

  &__inner {
    display: flex;
    align-items: center;
    gap: 13px;
  }
}

.radio.disabled {
  pointer-events: none;
  text-decoration: line-through;
}

.radio__inner span {
  text-align: center;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  border: 2px solid $primary;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  transition: 300ms;
  z-index: 1;
  flex-shrink: 0;
}

.radio__inner span::before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $primary;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.radio__inner input {
  display: none;
}

.radio__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.reg-hidden {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 10;

  display: none;

  &.active {
    display: block;
  }
}


.comprare-empty {


}