

.breadcrumb {
  margin-top: 50px;
  margin-bottom: 30px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 20px;
    margin-top: 10px;
  }


  &__list {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;

    @media only screen and (max-width: 991px) {
      gap: 10px 28px;
    }


    li {

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }

      a {
        position: relative;
        color: #202020;

        &:hover {
          color: #0060AA;
        }



        &::after {
          content: '/';
          right: -14px;
          position: relative;
          color: #CAD3D9;
        }
      }
      span {
        color: #525558;
      }
    }
  }
}