@use '../../../style/scss/variables.scss' as *;

.about-news {
  margin-bottom: 140px;
  overflow: hidden;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__container {
    .swiper-pagination {
      display: none;

      @media only screen and (max-width: 991px) {
        display: block;
      }
    }

    @media only screen and (max-width: 991px) {
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__container {
    @media only screen and (max-width: 1700px) {
      max-width: 90%;
    }

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__text {
    color: #0060aa;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 50px;


    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  &__slider {
    position: relative;
  }



  &__next,
  &__prev {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width: 1700px) {
      left: 0;
    }
  }

  &__prev {
    transform: translateY(-50%) rotate(180deg); 
  }

  &__next {
    right: -70px;
    left: auto;

    @media only screen and (max-width: 1700px) {
      right: 0;
      left: auto;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;


    @media only screen and (max-width: 767px) {
      height: 250px;
    }



    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}
