<div class="pr-table">
  <div class="container">
    <div class="pr-table__inner">
      <h3 class="pr-table__title title">Стоимость</h3>

      <div class="pr-table__content">
        <div class="pr-table__info">
          <div class="pr-table__head">
            <span>Номер п/п</span>
            <span>Наименование</span>
            <span>Марка</span>
            <span class="center">Ед.изм.</span>
            <span class="center">Кол во</span>
            <span class="center">Цена за ед. (₽)</span>
            <span class="center">Стоимость (₽)</span>
          </div>

          <div class="pr-table__body">
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">2</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">2</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">2</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">2</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
            <div class="pr-table__line">
              <div class="pr-table__body--item">
                <p class="center">2</p>
              </div>
              <div class="pr-table__body--item">
                <span>Наименование</span>
                <p>Контроллер охранно-пожарный</p>
              </div>
              <div class="pr-table__body--item">
                <span>Марка</span>
                <p>Приток-А-КОП 02.6</p>
              </div>
              <div class="pr-table__body--item">
                <span>Ед.изм.</span>

                <p class="center">шт.</p>
              </div>
              <div class="pr-table__body--item">
                <span>Кол во</span>

                <p class="center">1</p>
              </div>
              <div class="pr-table__body--item">
                <span>Цена за ед. (₽)</span>

                <p class="center">25 961,00</p>
              </div>
              <div class="pr-table__body--item">
                <span>Стоимость (₽)</span>

                <p class="right">25 961,00</p>
              </div>
            </div>
          </div>
        </div>

        <div class="pr-table__foot">
          <p>Всего</p>

          <span>140 588,00</span>
        </div>
      </div>
    </div>
  </div>
</div>
