<div class="decis">
  <div class="container">
    <div class="decis__inner">
      <div class="decis__items">
        <a href="#" class="decis__item">
          <div class="decis__img">
            <img src="images/dec-1.png" alt="" />
          </div>

          <div class="decis__info">
            <div class="decis__name">Для бизнеса и промышленных объектов</div>

            <div class="decis__text">
              Небольшой описательный текст про решения. Длинна: 2-3 строчки.
              Небольшой описательный текст про решения
            </div>
          </div>
        </a>
        <a href="#" class="decis__item">
          <div class="decis__img">
            <img src="images/dec-2.png" alt="" />
          </div>

          <div class="decis__info">
            <div class="decis__name">Для подразделений Росгвардии</div>

            <div class="decis__text">
              Небольшой описательный текст про решение. Длинна: 2-3 строчки.
              Небольшой описательный текст про решение, Небольшой описательный
              текст про решение
            </div>
          </div>
        </a>
        <a href="#" class="decis__item">
          <div class="decis__img">
            <img src="images/dec-3.png" alt="" />
          </div>

          <div class="decis__info">
            <div class="decis__name">Для подразделений Росгвардии</div>

            <div class="decis__text">
              Небольшой описательный текст про решение. Длинна: 2-3 строчки.
              Небольшой описательный текст про решение, Небольшой описательный
              текст про решение
            </div>
          </div>
        </a>
        <a href="#" class="decis__item">
          <div class="decis__img">
            <img src="images/dec-4.png" alt="" />
          </div>

          <div class="decis__info">
            <div class="decis__name">Для подразделений Росгвардии</div>

            <div class="decis__text">
              Небольшой описательный текст про решение. Длинна: 2-3 строчки.
              Небольшой описательный текст про решение, Небольшой описательный
              текст про решение
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
