<div class="filter">
  <div class="filter__form">
    <form action="#">
      <div class="filter__head">
        <div class="filter__head--name">Фильтры</div>
        <div class="filter__head--close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M15 15L5 5M15 5L5 15"
              stroke="#525558"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="filter__items">
        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Категория</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>

          <div class="filter__body">
            <ul class="filter__list">
              <li>
                <a class="active" href="#"
                  >Приборы для работы по каналам связи GSM</a
                >
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
              <li>
                <a href="#">Приборы для работы по каналам связи GSM</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Цена</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>

          <div class="filter__body">
            <div class="filter__range">
              <div class="filter__price--slider"></div>
              <div class="filter__range--bottom">
                <input type="text" class="filter__price--low" />
                <input type="text" class="filter__price--high" />
              </div>
            </div>
          </div>
        </div>
        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Тип оборудования</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>
          <div class="filter__body">
            <div class="filter__labels">
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">Объектовое </span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Тип прибора</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>
          <div class="filter__body">
            <div class="filter__labels">
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">КОП и ППКОП</span>
              </label>
              <label class="checkbox disabled">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">КОП и ППКОП </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">КОП и ППКОП</span>
              </label>
              <label class="checkbox disabled">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">КОП и ППКОП </span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Количество реле</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>
          <div class="filter__body">
            <div class="filter__labels">
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">1 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">2 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">3 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">4 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">5 </span>
              </label>
            </div>
          </div>
        </div>

        <div class="filter__item">
          <div class="filter__top">
            <div class="filter__name">Количество шлейфов</div>
            <div class="filter__arrow">
              <img src="images/filter.svg" alt="" />
            </div>
          </div>
          <div class="filter__body">
            <div class="filter__labels">
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">1 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">2 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">3 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">4 </span>
              </label>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" />
                  <span></span>
                </span>
                <span class="checkbox__text">5 </span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="filter__btns">
        <button class="filter__btn btn btn-blue ">Показать</button>
        <button class="filter__cancel btn ">Сбросить</button>

      </div>
    </form>
  </div>
</div>
