@use '../../../style/scss/variables.scss' as *;

.lk-search {
  &__animation {
    display: flex;
    gap: 6px;
    margin-top: 20px;
    padding: 30px;

    &--item {
      width: 10px;
      height: 10px;
      background: #0060aa;
      border-radius: 2px;
      animation: wave 1.6s infinite ease-in-out;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }

  &__content {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      height: 200px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .field {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }

  &__btn {
    width: 149px;
    flex-shrink: 0;
    margin-left: 20px;
    height: 52px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      width: 100%;
      height: 40px;
      margin-left: 0;
      margin-top: 15px;
      font-size: 14px;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
    border-radius: 10px;
    background: rgba(170, 0, 0, 0.1);
    color: #a00;


    @media only screen and (max-width: 991px) {
      align-items: flex-start;
    }

    b {
      font-weight: 600;
    }
  }

  &__aside {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__grid {
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__information {
    &--item {
      padding-bottom: 15px;
      border-bottom: 1px solid $gray;
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        bottom: 10px;
        gap: 5px;
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      span {
        width: 310px;
        flex-shrink: 0;
        color: $Darkestgray;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }
      }
    }
  }

  &__table {
    &--head {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 2fr;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 10px;

      @media only screen and (max-width: 991px) {
        display: none;
      }

      span {
        padding: 15px 20px;
        font-weight: 600;
        display: block;
      }
    }

    &--item {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 2fr;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        border-bottom: 1px solid $gray;
        padding-bottom: 10px;
        margin-bottom: 10px;
        gap: 12px;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }
      }

      &:last-child {
        p {
          border-bottom: 0;
        }
      }

      p {
        padding: 15px 20px;
        border-bottom: 1px solid $gray;
        font-size: 14px;

        @media only screen and (max-width: 991px) {
          padding: 0;
          border-bottom: 0;
        }

        &.empty {
          @media only screen and (max-width: 991px) {
            display: none;
          }
        }

        span {
          display: none;

          @media only screen and (max-width: 991px) {
            display: block;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  &__obj {
    &--head {
      display: grid;
      grid-template-columns: 1fr 1fr 0.8fr;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 10px;

      @media only screen and (max-width: 991px) {
        display: none;
      }

      span {
        padding: 15px 20px;
        font-weight: 600;
        display: block;
      }
    }

    &--item {
      display: grid;
      grid-template-columns: 1fr 1fr 0.9fr;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        border-bottom: 1px solid $gray;
        padding-bottom: 10px;
        margin-bottom: 10px;

        gap: 12px;

        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
      }

      &:last-child {
        p {
          border-bottom: 0;
        }
      }

      p {
        padding: 15px 20px;
        border-bottom: 1px solid $gray;
        font-size: 14px;

        &.empty {
          @media only screen and (max-width: 991px) {
            display: none;
            margin-top: -12px;
          }
        }

        @media only screen and (max-width: 991px) {
          padding: 0;
          border-bottom: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }

        span {
          display: none;

          @media only screen and (max-width: 991px) {
            display: block;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.lk-search__animation--item:nth-child(1) {
  animation-delay: 0s;
}
.lk-search__animation--item:nth-child(2) {
  animation-delay: 0.2s;
}
.lk-search__animation--item:nth-child(3) {
  animation-delay: 0.4s;
}
.lk-search__animation--item:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
