<div class="compras-slider">
  <div class="compras-slider__inner">
    <div class="compras-slider__info">
      <div class="compras-slider__btns">
        <div class="compras-slider__prev btn-swiper-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="6"
            height="10"
            viewBox="0 0 6 10"
            fill="none"
          >
            <path
              d="M1 1L5 5L1 9"
              stroke="#0060AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="slider-counter slider-counter-desktop">
          <span class="current"></span> / <span class="total"></span>
        </div>
        <div class="compras-slider__next btn-swiper-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="6"
            height="10"
            viewBox="0 0 6 10"
            fill="none"
          >
            <path
              d="M1 1L5 5L1 9"
              stroke="#0060AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div class="compras-slider__desktop swiper">
        <div class="compras-slider__items swiper-wrapper">
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="compras-slider__content">
      <div class="compras-slider__btns">
        <div class="compras-slider__prev-mobile btn-swiper-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="6"
            height="10"
            viewBox="0 0 6 10"
            fill="none"
          >
            <path
              d="M1 1L5 5L1 9"
              stroke="#0060AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="slider-counter slider-counter-mobile">
          <span class="current"></span> / <span class="total"></span>
        </div>
        <div class="compras-slider__next-mobile btn-swiper-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="6"
            height="10"
            viewBox="0 0 6 10"
            fill="none"
          >
            <path
              d="M1 1L5 5L1 9"
              stroke="#0060AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div class="compras-slider__mobile swiper">
        <div class="compras-slider__items swiper-wrapper">
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="compras-slider__item swiper-slide">
            <div class="card">
              <div class="card__top">
                <div class="card__close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18 18L6 6M18 6L6 18"
                      stroke="#525558"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <a href="#" class="card__img">
                  <img src="images/card.png" alt="" />
                </a>
              </div>
              <div class="card__info">
                <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

                <div class="card__foot">
                  <div class="card__price">16 136 ₽</div>

                  <div class="card__as">
                    <a href="#" class="card__btn btn btn-blue">В корзину</a>

                    <a href="#" class="card__like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="compras">
  <div class="container">
    <div class="compras__inner">
      <div class="compras__head">
        <span>Сравнение характеристик</span>
        <div class="compras__switch">
          <span>Только различающиеся</span>
          <form action="#">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </form>
        </div>
      </div>

      <div class="compras__table">
        <div class="compras__item">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
        <div class="compras__item gray">
          <div class="compras__label">Тип оборудования</div>
          <div class="compras__grids">
            <span>Объектовое</span>
            <span>Объектовое</span>
            <span class="desktop">Объектовое</span>
            <span class="desktop">Объектовое</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
