@use '../../../style/scss/variables.scss' as *;

.prod-com {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      display: block;
    }
  }

  &__aside {
    background: $lgray;
    padding: 30px;
    min-height: 346px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    order: -1;

    @media only screen and (max-width: 991px) {
      min-height: initial;
      padding: 15px;
    }

    .card__grid {
      span {
        background: $lgray;
      }

      p {
        background: $lgray;
      }
    }

    > span {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
      display: block;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
  }

  &__foot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 10;

    @media only screen and (max-width: 991px) {
      margin-top: 20px;
    }

    > span {
      font-size: 25px;
      font-weight: 600;
      color: $primary;
      padding-bottom: 5px;
    }
  }

  &__btn {
    max-width: 131px;
  }
  &__slider {
    width: 100%;

    @media only screen and (max-width: 991px) {
      padding-bottom: 40px;
      margin-bottom: 20px;
    }

    .swiper-pagination {
      display: none;

      @media only screen and (max-width: 991px) {
        display: block;
      }
    }

    .card__name {
      margin-bottom: 0;
    }

    .card {
      height: 100%;
    }

    .card__top {
      flex-grow: 10;
    }

    .card__info {
      flex-grow: 0;
    }

    .card {
      cursor: pointer;
    }
  }
}
