@use '../../../style/scss/variables.scss' as *;

.pritok {
  margin-bottom: 140px;
  overflow: hidden;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    @media only screen and (max-width: 991px) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__content {
    background: $primary;
    border-radius: 20px;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      gap: 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    gap: 15px;
  }

  &__top {
    max-width: 600px;

    span {
      font-size: 36px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 30px;

      display: block;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    p {
      color: $gray;
    }
  }

  &__slider {
    margin-top: 50px;

    @media only screen and (max-width: 1500px) {
      padding-bottom: 40px;
      margin-top: 30px;
    }
  }

  &__grids {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1500px) {
      display: -webkit-box;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $gray;
    background: #fff;
    position: relative;
    margin-left: -12px;
    z-index: 1;
    cursor: pointer;
    flex-shrink: initial;

    @media only screen and (max-width: 1500px) {
      width: 100%;
      margin: 0;
    }

    &:first-child {
      margin-left: 0 !important;
    }

    &.compressed {
      margin-left: -41px;

      @media only screen and (max-width: 1500px) {
        margin-left: 0;
      }
    }

    &.expanded {
      width: 367px;
      flex-shrink: 0;

      @media only screen and (max-width: 1500px) {
        width: auto;
        flex-shrink: 0;
      }
      .pritok__text {
        opacity: 1;
        visibility: visible;
        width: auto;
        margin-left: 20px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    background: $lgray;
    border-radius: 20px;
    overflow: hidden;
    mix-blend-mode: darken;

    @media only screen and (max-width: 1500px) {
      width: 100px;
      height: 100px;
    }

    img {
      mix-blend-mode: darken;
    }
  }

  &__text {
    visibility: hidden;
    opacity: 0;
    width: 0;

    flex-shrink: 0;
    font-size: 16px;
    font-weight: 600;
    transition: 300ms;

    @media only screen and (max-width: 1500px) {
      visibility: visible;
      opacity: 1;
      width: 100%;
      margin-left: 20px;
      flex-shrink: 0;
    }
  }
}
