<div class="pritok">
  <div class="container">
    <div class="pritok__inner">
      <h1 class="pritok__title title">Применение ПРИТОК-А</h1>

      <div class="pritok__info">
        <div class="pritok__content">
          <div class="pritok__top">
            <span>Программное обеспечение Сократ</span>
            <p>
              Оборудование «ПРИТОК-А» используется для организации комплексной
              безопасности на объектах любого масштаба — от офисов и торговых
              помещений до промышленных предприятий и жилых комплексов
              <br />
              <br />Система обеспечивает централизованный контроль, оперативное
              реагирование на тревожные события и интеграцию с современными
              средствами связи и оповещения
            </p>
          </div>

          <a href="#" class="pritok__btn btn btn-white">
            <span>Узнать про ПАК ИСБ Приток-А</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7 12H17M17 12L13 8M17 12L13 16"
                stroke="#0060AA"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>

        <div class="pritok__img">
          <img src="images/pritok.png" alt="" />
        </div>
      </div>
    </div>

    <div class="pritok__slider swiper">
      <div class="pritok__grids swiper-wrapper">
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr1.png" alt="" />
          </div>
          <div class="pritok__text">Для бизнеса и промышленных объектов</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr2.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr3.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr4.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr5.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr6.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr7.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr8.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr9.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
        <div class="pritok__grid swiper-slide">
          <div class="pritok__icon">
            <img src="images/pr10.png" alt="" />
          </div>
          <div class="pritok__text">Для физических лиц</div>
        </div>
      </div>


      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
