
@use '../../../style/scss/variables.scss' as *;
.pr-char {

  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }



  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }



  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }

  &__grids {
    width: 100%;
  }

  &__content {
    padding: 30px;
    background: $lgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }

    >span {
      font-size: 20px;
      font-weight: 600;

      @media only screen and (max-width: 991px) {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }


    .card__grid {
      width: 100%;
    }

    .card__grid p {
      background: $lgray;
    }

    .card__grid span {
      background: $lgray;
    }
  }
}