<div class="pr-char">
  <div class="container">
    <div class="pr-char__inner">
      <h3 class="pr-char__title title">Краткая характеристика объекта</h3>

      <div class="pr-char__info">
        <div class="pr-char__text">
          Усадьба В. П. Сукачева — памятник истории и культуры федерального
          значения. Представляет собой уникальный архитектурно-парковый
          комплекс, включающий в себя здание картинной галереи с зимним садом,
          дом для прислуги, службы с конюшней, флигель для гостей, беседку-горку
          и парк, спланированный в качестве пейзажного. <br />
          <br />
          Объект («Гостевой флигель») представляет собой отдельно стоящее 2х
          этажное деревянное здание. На первом этаже: выставочные залы - 3,
          Холл, Комната обслуживающего персонала, Зимний сад, Сан. узел,
          Вестибюль - 2, Тамбур – 2, Гардероб. На втором этаже: Кабинет
          администрации, Библиотека, Методический кабинет, Вестибюль, Лекционный
          зал, Холл, Коридор, Подсобное помещение, Открытая галерея.
        </div>

        <div class="pr-char__content">
          <span>Характеристика защищаемых помещений</span>
          <div class="pr-char__grids">
            <div class="card__grid">
              <span>Объект</span>
              <p>Усадьба</p>
            </div>
            <div class="card__grid">
              <span>Объект</span>
              <p>Усадьба</p>
            </div>
            <div class="card__grid">
              <span>Объект</span>
              <p>Усадьба</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
