

.news-page {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }


  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}