.news-page {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .main-news__item {
      padding: 30px;

      @media only screen and (max-width: 991px) {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

       .main-news__content {
        padding: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
        margin-top: 20px;

        @media only screen and (max-width: 991px) {
          padding: 0;
          padding-bottom: 5px;
        }
       }

      &:hover {
        .main-news__img {
          height: auto ;

          @media only screen and (max-width: 991px) {
            height: 176px;
          }
        }
        .main-news__content {
          background: transparent;
        
        }
      }
    }
  }
}
