<div class="news-page">
  <div class="container">
    <div class="news-page__inner">
      <div class="news-page__items">
        <a href="#" class="main-news__item">
          <div class="main-news__img">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="main-news__content">
            <p>24.03.2025</p>
            <span>Версия программного обеспечения «Приток-А» 3.8.2</span>
          </div>
        </a>
        <a href="#" class="main-news__item">
          <div class="main-news__img">
            <img src="images/news2.png" alt="" />
          </div>

          <div class="main-news__content">
            <p>24.03.2025</p>
            <span>Версия программного обеспечения «Приток-А» 3.8.2</span>
          </div>
        </a>
        <a href="#" class="main-news__item">
          <div class="main-news__img">
            <img src="images/news1.png" alt="" />
          </div>

          <div class="main-news__content">
            <p>24.03.2025</p>
            <span>Версия программного обеспечения «Приток-А» 3.8.2</span>
          </div>
        </a>
        <a href="#" class="main-news__item">
          <div class="main-news__img">
            <img src="images/news2.png" alt="" />
          </div>

          <div class="main-news__content">
            <p>24.03.2025</p>
            <span>Версия программного обеспечения «Приток-А» 3.8.2</span>
          </div>
        </a>
      </div>

       @@include('../../elements/pagination/template.html',{})
    </div>
  </div>
</div>
