@use '../../../style/scss/variables.scss' as *;

.reg {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      gap: 10px;
      margin-bottom: 20px;
    }

    span {
      cursor: pointer;
      padding: 10px 25px;
      background: $lgray;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
        padding: 10px;
      }

      &.active {
        background: $primary;
        color: #fff;
      }
    }
  }

  &__grid {
    > span {
      font-size: 14px;
      color: $Darkestgray;
      margin-top: 10px;
      display: block;
    }
  }

  &__form {
    padding: 50px;
    background: $lgray;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: rgba(170, 0, 0, 0.1);
    padding: 15px;
    color: #a00;
    gap: 10px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      align-items: flex-start;
      margin-bottom: 20px;


      svg {
        flex-shrink: 0;
      }
    }
  }

  &__radios {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      gap: 15px;
      margin-bottom: 20px;
      align-items: flex-start;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: none;

    .checkbox {
      margin: 20px 0;
    }

    &.active {
      display: block;
    }
  }

  &__btn {
    font-family: inherit;
    font-size: 16px;
    height: 52px;

    @media only screen and (max-width: 991px) {
      height: 40px;
      font-size: 14px;
    }
  }

  &__foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__captch {
    display: flex;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .field {
      width: 100%;
    }
  }

  &__img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
