@use '../../../style/scss/variables.scss' as *;
.showcase {
  margin-top: 50px;

  @media only screen and (max-width: 991px) {
    margin-top: 26px;
  }

  &__item {
    border-radius: 20px;
    min-height: 600px;

    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      padding-bottom: 36px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media only screen and (max-width: 991px) {
        display: none;
      }


      &.mobile {
        display: none;

        @media only screen and (max-width: 991px) {
          display: block;
        }
      }
    }
  }

  &__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 100%;

    @media only screen and (max-width: 991px) {
      font-size: 32px;
    }
  }

  &__text {
    max-width: 660px;
  }

  &__info {
    position: relative;
    z-index: 1;
    max-width: 770px;
    color: #fff;
  }

  &__btn {
    position: relative;
    z-index: 1;
    max-width: 363px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;

    @media only screen and (max-width: 991px) {
      height: 44px;
      font-size: 14px;
      max-width: 100%;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }



  &__grid {
    padding: 30px;
    border-radius: 20px;
    background: $lgray;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }

    >span {
      font-size: 25px;
      font-weight: 600;
      display: block;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    >p {
      a {
        color: $primary;
        display: inline;
      }
    }
  }

  &__aside {


    display: grid;
    grid-template-columns: 1fr 1fr;


    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }


    &--item {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &--img {
      flex-shrink: 0;
      mix-blend-mode: darken;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        width: 81px;
      }
    }

    &--info {
      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 5px;

        @media only screen and (max-width: 991px) {
          font-size: 16px;
        }
      }

      span {
        a {
          color: $primary;
        }
      }
    }
  }

  
}
