<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__container swiper">
        <div class="showcase__items swiper-wrapper">
          <div class="showcase__item swiper-slide">
            <div class="showcase__img">
              <img src="images/showcase-banner.png" alt="" />
              <img src="images/showcase-banner-mobile.png" class="mobile"  alt="">
            </div>
            <div class="showcase__info">
              <h1 class="showcase__title title">
                Сократ - официальный производитель охранного оборудования
                ПРИТОК-А
              </h1>
              <div class="showcase__text">
                Охранное бюро СОКРАТ выпускает програмнмо-аппаратный комплекс
                Интегрированная система безопасности "ПРИТОК-А"
              </div>
            </div>

            <a href="#" class="showcase__btn btn-blue">
              <span>Смотреть подсистемы комплекса</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 12H17M17 12L13 8M17 12L13 16"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="showcase__item swiper-slide">
            <div class="showcase__img">
              <img src="images/showcase-banner.png" alt="" />
              <img src="images/showcase-banner-mobile.png" class="mobile"  alt="">
            </div>
            <div class="showcase__info">
              <h1 class="showcase__title title">
                Сократ - официальный производитель охранного оборудования
                ПРИТОК-А
              </h1>
              <div class="showcase__text">
                Охранное бюро СОКРАТ выпускает програмнмо-аппаратный комплекс
                Интегрированная система безопасности "ПРИТОК-А"
              </div>
            </div>

            <a href="#" class="showcase__btn btn-blue">
              <span>Смотреть подсистемы комплекса</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 12H17M17 12L13 8M17 12L13 16"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <div class="showcase__item swiper-slide">
            <div class="showcase__img">
              <img src="images/showcase-banner.png" alt="" />
              <img src="images/showcase-banner-mobile.png" class="mobile"  alt="">
            </div>
            <div class="showcase__info">
              <h1 class="showcase__title title">
                Сократ - официальный производитель охранного оборудования
                ПРИТОК-А
              </h1>
              <div class="showcase__text">
                Охранное бюро СОКРАТ выпускает програмнмо-аппаратный комплекс
                Интегрированная система безопасности "ПРИТОК-А"
              </div>
            </div>

            <a href="#" class="showcase__btn btn-blue">
              <span>Смотреть подсистемы комплекса</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 12H17M17 12L13 8M17 12L13 16"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>

      <div class="showcase__grids">
        <div class="showcase__grid">
          <span>
            Аккредитованная IT-компания-разработчик отечественного программного
            обеспечения
          </span>
          <p>
            <a href="#"
              >Выписка из реестра аккредитованных организаций, осуществляющих
              деятельность в области информационных технологий</a
            >
            от 26.09.2022 № АО-20220926-8108244594-3
          </p>
        </div>

        <div class="showcase__grid">
          <span> Выпускаемая продукция включена в реестры </span>

          <div class="showcase__aside">
            <div class="showcase__aside--item">
              <div class="showcase__aside--img">
                <img src="images/s1.png" alt="" />
              </div>
              <div class="showcase__aside--info">
                <p>Минпромторг России</p>
                <span>
                  <a href="#">Заключение №82842/11</a> от 26.08.2022
                </span>
              </div>
            </div>
            <div class="showcase__aside--item">
              <div class="showcase__aside--img">
                <img src="images/s2.png" alt="" />
              </div>
              <div class="showcase__aside--info">
                <p>Минкомсвязь России</p>
                <span> <a href="#">Приказ № 653 </a> от 14.12.2016 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
