@use '../../style/scss/variables.scss' as *;

.footer {
  width: 100%;
  flex-grow: 10;

  background: $lgray;


  a {
    &:hover {
      color: $primary;
    }
  }

  &__top {
    padding-top: 100px;

    @media only screen and (max-width: 991px) {
      padding-top: 60px;
    }
  }

  &__left {
    padding-bottom: 50px;

    @media only screen and (max-width: 991px) {
      padding-bottom: 30px;
      border-bottom: 1px solid $gray;
      margin-bottom: 30px;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid $gray;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding-bottom: 30px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 85px;
    margin-bottom: 30px;

    img {
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
      height: 69px;
    }
  }

  &__desc {
    max-width: 460px;
    font-size: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .header__socials {
    display: flex;

    li {
      a {
        color: $black;

        &:hover {
          background: #fff;
        }
      }
    }
  }

  &__as {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $primary;
    gap: 30px;
    margin-bottom: 58px;

    a {
      &:hover {
        color: $lightprimary;
      }
    }

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__soc--label {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    display: block;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &-info {
    border-left: 1px solid $gray;
    padding-left: 40px;

    @media only screen and (max-width: 991px) {
      padding-left: 0;
      border-left: 0;
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
      }
    }

    &__item {
      span {
        display: block;
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: 700;
        color: $black;

        @media only screen and (max-width: 991px) {
          font-size: 22px;
          margin-bottom: 20px;
        }
      }

      a {
        display: block;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      padding-bottom: 0;
      margin-top: 30px;
      margin-bottom: 63px;
    }

    &--item {
      padding-left: 40px;
      border-left: 1px solid $gray;
      padding-top: 51px;
      padding-bottom: 50px;

      @media only screen and (max-width: 991px) {
        padding: 0;
        border-left: 0;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }
      }

      &:first-child {
        padding-left: 0;
        border-left: 0;
      }

      ul {
        @media only screen and (max-width: 991px) {
          display: none;
          margin-top: 20px;

          &.active {
            display: block;
          }
        }
        li {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &--label {
      display: block;
      font-size: 25px;
      font-weight: 700;
      display: block;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        font-size: 22px;
        position: relative;
        margin-bottom: 0;

        &:before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          background: url('/images/arrow.svg') 50% 50% no-repeat;
          background-size: cover;
          width: 12px;
          height: 7px;
          top: 50%;
          transition: 300ms;
          transform: translateY(-50%);
        }

        &.active {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &-bot {
    background: $black;
    color: #fff;
  }
}
