<div class="vac-showcase">
  <div class="container">
    <div class="vac-showcase__inner">
      <div class="vac-showcase__label">
        Надёжность. Профессионализм. Честная работа.
      </div>
      <h3 class="vac-showcase__title title">
        Хотите влиять на развитие индустрии безопасности? Присоединяйтесь к
        нашей команде
      </h3>

      <div class="vac-showcase__text">
        ООО ОБ "СОКРАТ" — ведущий отечественный производитель охранного
        оборудования и ПО в России, аккредитованная IT-компания. Мы имеем
        конструкторское бюро, автоматизированную линию производства электронной
        аппаратуры, проектно-монтажный отдел, отдел внедрения и эксплуатации, а
        также сеть региональных представительств на территории России.
        Присоединяйтесь к нам и станьте частью команды профессионалов!
      </div>
      <div class="vac-showcase__img">
        <img src="images/vac.png" alt="" />
      </div>
    </div>
  </div>
</div>
