<div class="card-popup" id="card-popup">
  <div class="card-popup__close" data-fancybox-close>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
    >
      <path
        d="M13 13L1 1M13 1L1 13"
        stroke="#CAD3D9"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>

  <div class="card-popup__inner">
    <div class="card-popup__top">
      <div class="card-popup__img">
        <img src="images/card-pop-img.png" alt="">
      </div>
      <div class="card-popup__info">
        <div class="card-popup__name">Приток-А-КОП-01 исп.1</div>
        <div class="card-popup__text">
          Первые 5-6 строчки описательного текста о товаре из детальной
          карточки. Описательный текст о товаре в несколько строчек. Контроллер
          «Приток-А-КОП-02» обеспечивает надежную и бесперебойную передачу
          данных на пульт централизованного наблюдения (ПЦН) благодаря
          продуманной системе коммуникации. Для этого используются основной
          канал Ethernet 10/100 и резервный канал GSM/GPRS с поддержкой двух
          SIM-карт для повышения отказоустойчивости. Оборудование стабильно
          работает в современных сетях: Интернет, GPON, VPN, с автоматическим
          получением настроек по протоколу DHCP.
        </div>

        <div class="card-popup__foot">
          <div class="card-popup__price">14 900 ₽</div>

          <div class="card-popup__aside">
            <div class="card-popup__basket btn btn-blue">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
              >
                <path
                  d="M1 1H1.22362C1.61844 1 1.81602 1 1.97705 1.07123C2.11903 1.13403 2.24059 1.23525 2.32812 1.36346C2.42741 1.50889 2.46315 1.70305 2.53483 2.09131L4.33337 11.8334L13.0162 11.8333C13.395 11.8333 13.5847 11.8333 13.7413 11.7665C13.8795 11.7076 13.9991 11.6123 14.0876 11.4909C14.1879 11.3533 14.2303 11.1688 14.3154 10.7998L15.6231 5.1331C15.7519 4.5752 15.8163 4.29634 15.7455 4.07719C15.6835 3.88505 15.5533 3.72195 15.38 3.61827C15.1824 3.5 14.8965 3.5 14.3239 3.5H3.08333M13.5 16C13.0398 16 12.6667 15.6269 12.6667 15.1667C12.6667 14.7064 13.0398 14.3333 13.5 14.3333C13.9602 14.3333 14.3333 14.7064 14.3333 15.1667C14.3333 15.6269 13.9602 16 13.5 16ZM5.16667 16C4.70643 16 4.33333 15.6269 4.33333 15.1667C4.33333 14.7064 4.70643 14.3333 5.16667 14.3333C5.6269 14.3333 6 14.7064 6 15.1667C6 15.6269 5.6269 16 5.16667 16Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span> В корзину </span>

            </div>
             <div class="detal__calc">
                  <div class="card-calc">
                    <div class="card-calc__minus">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17"
                        height="2"
                        viewBox="0 0 17 2"
                        fill="none"
                      >
                        <path
                          d="M15.1421 1H1"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>

                    <input type="text" value="1" />

                    <div class="card-calc__plus">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M17.0718 10H2.92969M10.0008 2.92891V17.0711"
                          stroke="#202020"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
            <div class="card-popup__srav">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 11L7 19M12 5L12 19M17 11L17 19"
                  stroke="#0060AA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="card-popup__like">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
              >
                <path
                  d="M10 4.15425C8 -0.540192 1 -0.0401917 1 5.95984C1 11.9599 10 16.9598 10 16.9598C10 16.9598 19 11.9599 19 5.95984C19 -0.0401917 12 -0.540192 10 4.15425Z"
                  stroke="#0060AA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-popup__contet">
      <div class="card-popup__nav">
        <span data-card-popup-tab class="active">Характеристики</span>
        <span data-card-popup-tab>Комплект поставки</span>
        <span data-card-popup-tab>Документация и файлы</span>
      </div>

      <div class="card-popup__items">
        <div class="card-popup__item active" data-card-popup-item>
          <div class="card-char">
            <span>Основные характеристики (только основные до 6 шт)</span>
            <div class="card__grids">
              <div class="card__grid">
                <span>Каналы связи с ПЦО</span>
                <p>GSM+Ethernet</p>
              </div>
              <div class="card__grid">
                <span>Каналы связи с ПЦО</span>
                <p>GSM+Ethernet</p>
              </div>
              <div class="card__grid">
                <span>Каналы связи с ПЦО</span>
                <p>GSM+Ethernet</p>
              </div>
              <div class="card__grid">
                <span>Каналы связи с ПЦО</span>
                <p>GSM+Ethernet</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-popup__item" data-card-popup-item>
          Просто текст Просто текс Просто текс Просто текс Просто текс Просто
          текс Просто текс Просто текс
        </div>
        <div class="card-popup__item" data-card-popup-item>
          <div class="card-doc">
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
