@use '../../../style/scss/variables.scss' as *;

.software {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {


      position: absolute;

      flex-direction: column;
      background: $lgray;
      padding: 20px;
      border-radius: 20px;

      z-index: 10;

      display: none;

      &.active {
        display: flex;
      }
    }

    a {
      background: $lgray;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__item {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      mix-blend-mode: darken;
    }

    > span {
      font-size: 25px;
      font-weight: 600;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
  }

  &__content {
    background: #fff;
    padding: 30px;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__grid {
    a {
      display: block;
      margin-bottom: 20px;
      font-weight: 600;
      color: $primary;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--aside {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;


      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;


        @media only screen and (max-width: 991px) {
          width: 100%;
          justify-content: space-between;
        }
      }

      b {
        font-weight: 600;

        @media only screen and (max-width: 991px) {
          font-weight: 400;
        }
      }
    }
  }

    &__select {
    display: none;

    @media only screen and (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      background: $lgray;
      border-radius: 10px;
      margin-bottom: 20px;
      color: $Darkestgray;
      font-size: 16px;

      &.active {
        .software__select--arrow {
          transform: rotate(180deg);
        }
      }


      &--arrow {
        display: flex;
        align-items: center;
        transition: 300ms;
      }
    }
  }
}
