<div class="software">
  <div class="container">
    <div class="software__inner">
      <div class="software__select">
        <div class="software__select--name">Категория не выбрана</div>
        <div class="software__select--arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M13.3307 8.33334L9.9974 11.6667L6.66406 8.33334"
              stroke="#0060AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="software__top">
        <a href="#" data-scroll-item>Для ПК на ОС Windows</a>
        <a href="#" data-scroll-item>Для ПК на ОС Linux</a>
        <a href="#" data-scroll-item>Утилиты</a>
        <a href="#" data-scroll-item>Расширение для ПО Приток-А</a>
        <a href="#" data-scroll-item>Для мобильных устройств</a>
        <a href="#" data-scroll-item>Архив</a>
      </div>

      <div class="software__items">
        <div class="software__item" data-scroll>
          <div class="software__label">
            <img src="images/soft1.png" alt="" />

            <span>Для персонального компьютера на ОС Windows</span>
          </div>

          <div class="software__content">
            <div class="software__desc">ПАК ИСБ "Приток-А"</div>
            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Приток-А 3.8.2 (11) (32-bit)</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.58331L10 13.3333L6.25 9.58331"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <p>1 июля 2025</p>
                </div>
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Приток-А 3.8.2 (11) (32-bit)</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.58331L10 13.3333L6.25 9.58331"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <p>1 июля 2025</p>
                </div>
              </div>
              <div class="software__grid">
                <a href="#">Описание версии (Release Notes)</a>
                <a href="#">Файл изменений </a>
                <a href="#">Инструкции и рекомендации</a>
              </div>
            </div>
          </div>
        </div>

        <div class="software__item" data-scroll>
          <div class="software__label">
            <img src="images/soft2.png" alt="" />

            <span>Для персонального компьютера на ОС Linux</span>
          </div>

          <div class="software__content">
            <div class="software__desc">ПАК ИСБ "Приток-А"</div>
            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Приток-А 3.8.2 (11) (32-bit)</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.58331L10 13.3333L6.25 9.58331"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <p>1 июля 2025</p>
                </div>
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Приток-А 3.8.2 (11) (32-bit)</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.58331L10 13.3333L6.25 9.58331"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <p>1 июля 2025</p>
                </div>
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Приток-А 3.8.2 (11) (32-bit)</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.58331L10 13.3333L6.25 9.58331"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <p>1 июля 2025</p>
                </div>
              </div>
              <div class="software__grid">
                <a href="#">Описание и инструкции</a>
              </div>
            </div>
          </div>
        </div>

        <div class="software__item" data-scroll>
          <div class="software__label">
            <img src="images/soft3.png" alt="" />
            <img src="images/soft4.png" alt="" />

            <span>Для мобильных устройств</span>
          </div>

          <div class="software__content">
            <div class="software__desc">Охрана</div>

            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>RuStore</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M5.18225 14.8744L14.6103 5.44628M14.6103 5.44628L9.04515 5.11891M14.6103 5.44628L14.9377 11.0115"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="software__grid">
                <a href="#">Описание</a>
                <a href="#">Инструкции</a>
              </div>
            </div>
            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>AppStore</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M5.18225 14.8744L14.6103 5.44628M14.6103 5.44628L9.04515 5.11891M14.6103 5.44628L14.9377 11.0115"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="software__grid">
                <a href="#">Настройки сервера для работы с «Охрана Приток-А»</a>
              </div>
            </div>
            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>AppGallery</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M5.18225 14.8744L14.6103 5.44628M14.6103 5.44628L9.04515 5.11891M14.6103 5.44628L14.9377 11.0115"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="software__item" data-scroll>
          <div class="software__label">
            <span>Техническая поддержка</span>
          </div>

          <div class="software__content">
            <div class="software__desc">Ammy Admin</div>

            <div class="software__grids">
              <div class="software__grid">
                <div class="software__grid--aside">
                  <a href="#">
                    <span>Ammy Admin</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                    >
                      <path
                        d="M2.5 10.0035V17.5H17.5V10"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M13.75 9.5835L10 13.3335L6.25 9.5835"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10 2.5V13.3333"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <b>(пароль - sokrat)</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
