@use '../../../style/scss/variables.scss' as *;
.lk {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }
  &__inner {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 280px 1fr;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__container {
    @media only screen and (max-width: 991px) {
      position: relative;
    }
  }

  &__sidebar {
    height: 662px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background: $lgray;
    border-radius: 20px;
    position: sticky;
    top: 20px;
    left: 0;

    @media only screen and (max-width: 991px) {
      height: auto;
      position: absolute;
      top: 52px;
      width: 100%;
      border: 1px solid $lgray;
      display: none;
      border: 1px solid $gray;

      &.active {
        display: block;
      }
    }
  }

  &__mobile {
    display: none;

    @media only screen and (max-width: 991px) {
      display: flex;
      align-items: center;
      padding: 10px 15px ;
      border-radius: 10px;
      justify-content: space-between;
      background: $lgray;

      &.active {
        .lk__mobile--arrow {
          transform: rotate(180deg);
        }
      }
    }

    &--arrow {
      display: flex;
      align-items: center;
      transition: 300ms;
    }

    &--head {
      display: flex;
      align-items: center;
      gap: 15px;
      color: $primary;
    }
  }

  &__nav {
    a {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      gap: 10px;
      border-radius: 10px;

      @media only screen and (max-width: 991px) {
        padding: 10px 15px;
        margin-bottom: 10px;


        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        background: #fff;
        color: $primary;

        svg {
          path {
            stroke: $primary;
          }
        }
      }

      &:hover {
        background: #fff ;
      }
      svg {
        flex-shrink: 0;
      }
    }
  }

  &__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    background: #fff;
    transition: 300ms;
    border-radius: 10px;
    gap: 10px;

    &:hover {
      background: $primary;
      color: #fff;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &-cabinet {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
      }

      .item {
        background: $lgray;
        padding: 30px;
        border-radius: 20px;
        min-height: 321px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        @media only screen and (max-width: 991px) {
          min-height: inherit;
          gap: 20px;
          padding: 15px;
        }

        &.wide {
          grid-column: span 2;

          @media only screen and (max-width: 991px) {
            grid-column: span 1;
          }
        }
      }
    }

    &__grids {
      flex-grow: 10;

      @media only screen and (max-width: 991px) {
        margin-top: -20px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1.7fr;
      grid-gap: 10px;
      margin-bottom: 15px;

      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 5px;
      }

      span {
        color: $Darkestgray;
      }

      a {
        font-weight: 600;
        color: $primary;

        &:hover {
          color: #0078BF;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__label {
      display: block;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }

    &__btn {
      background: transparent;
      border: 1px solid $primary;
      max-width: fit-content;
      padding: 10px 25px;

      @media only screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    &__org {
      padding: 15px;
      border-radius: 10px;
      background: rgba(240, 173, 78, 0.2);
    }

    &__pay {
      width: 100%;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      &--head {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
        margin-bottom: 10px;
        padding-right: 20px;

        @media only screen and (max-width: 991px) {
          display: none;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          color: $Darkestgray;
        }
      }

      &--body {
        height: 98px;
        overflow: auto;
        padding-right: 10px;

        @media only screen and (max-width: 991px) {
          height: 392px;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background: #fff;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray;
          width: 10px;
          border-radius: 10px;
        }
      }

      &--item {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr;
        margin-bottom: 10px;

        @media only screen and (max-width: 991px) {
          grid-template-columns: 1fr;
          padding-top: 10px;
          border-top: 1px solid $gray;
          grid-gap: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $primary;

          b {
            display: none;
          }

          @media only screen and (max-width: 991px) {
            b {
              display: block;
              font-size: 14px;
              color: $Darkestgray;
              font-weight: 600;
              margin-bottom: 5px;
            }
          }
        }

        span {
          @media only screen and (max-width: 991px) {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          b {
            display: none;

            @media only screen and (max-width: 991px) {
              display: block;
              font-size: 14px;
              color: $Darkestgray;
              font-weight: 600;
            }
          }
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          color: #fff;
          border-radius: 5px;
          font-size: 13px;

          b {
            display: none;
          }

          @media only screen and (max-width: 991px) {
            width: fit-content;
            position: relative;
            margin-left: 63px;

            b {
              position: absolute;
              left: -63px;
              color: $Darkestgray;
              font-size: 14px;
              font-weight: 600;
              display: block;
            }
          }

          &.red {
            background: #d9534f;
          }

          &.yellow {
            background: #f0ad4e;
          }

          &.green {
            background: #1e9f93;
          }
        }
      }
    }

    // Order

    &__info {
      width: 100%;
    }

    &__items--order {
      @media only screen and (max-width: 1300px) {
        grid-template-columns: 1fr;

        .item.wide {
          grid-column: span 1;
        }
      }

      @media only screen and (max-width: 991px) {
        .lk-cabinet__plat {
          grid-gap: 0;
        }
      }
    }

    &__order {
      width: 100%;
      height: 246px;
      overflow: auto;
      padding-right: 10px;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        height: 362px;
        margin-bottom: 20px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background: #fff;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray;
        width: 10px;
        border-radius: 10px;
      }

      &--item {
        background: #fff;
        padding: 19px 20px;
        border-radius: 10px;
        margin-bottom: 10px;

        @media only screen and (max-width: 991px) {
          padding: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &--head {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        color: #fff;
        border-radius: 5px;
        font-size: 13px;
        height: 26px;
        margin-bottom: 10px;

        &.blue {
          background: #0078BF;
        }

        &.yellow {
          background: #f0ad4e;
        }
      }

      &--grid {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 1300px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }

        @media only screen and (max-width: 991px) {
          grid-gap: 12px;
        }
      }

      &--name {
        font-size: 20px;
        font-weight: 600;

        @media only screen and (max-width: 1300px) {
          font-size: 18px;
        }
      }

      &--date {
        margin-right: 20px;

        @media only screen and (max-width: 991px) {
          margin-right: 0;
        }
      }

      &--price {
        font-size: 20px;
        font-weight: 600;

        @media only screen and (max-width: 1300px) {
          font-size: 18px;
        }
      }

      &--content {
        display: flex;
        align-items: center;
        gap: 20px;

        @media only screen and (max-width: 991px) {
          display: grid;
          grid-template-columns: 1.3fr 1fr;
          grid-gap: 12px;
          width: 100%;
        }
      }

      &--foot {
        display: flex;
        align-items: center;
      }

      &--close {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 20px;
        gap: 5px;

        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }

        &:hover {
          color: $primary;

          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }

      &--btn {
        width: 170px;

        @media only screen and (max-width: 991px) {
          height: 40px;
          width: 140px;
          font-size: 14px;
        }
      }
    }
  }
}

// Lk-forum

.lk-forum {
  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 26px;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(240, 173, 78, 0.2);
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__content {
    padding: 30px;
    background: $lgray;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .field {
      grid-column: span 2;

      @media only screen and (max-width: 767px) {
        grid-column: span 1;
      }

      &.column {
        grid-column: span 1;
      }
    }
  }

  &__btn {
    margin-top: 30px;

    font-family: inherit;
    font-size: 16px;
    max-width: 192px;

    @media only screen and (max-width: 991px) {
      margin-top: 20px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
}
