@use '../../../style/scss/variables.scss' as *;
.feedback {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 410px 650px;
    justify-content: space-between;
    padding: 50px;
    background: $lgray;
    border-radius: 20px;

    @media only screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1.5fr;
      grid-gap: 20px;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      padding: 15px;
    }
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      gap: 20px;
    }
  }

  &__title {
    color: $primary;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    transition: 300ms;
  }

  .field.margin {
    margin-bottom: 20px;
    display: block;
  }
}

.field-file {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  @media only screen and (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__info {
    display: flex;
    align-items: center;
    border: 1px solid $primary;
    border-radius: 10px;
    color: $primary;
    font-weight: 600;
    width: fit-content;
    padding: 10px 25px;
    gap: 10px;
    position: relative;
    transition: 300ms;

    @media only screen and (max-width: 991px) {
      width: 100%;
      justify-content: center;
    }


    svg {
      path {
        transition: 300ms;
      }
    }

    > input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: $primary;
      color: #fff;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__remove {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
}
