<div class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="feedback__info">
        <h1 class="feedback__title title">Нужна консультация?</h1>
        <div class="feedback__text">
          Подробно расскажем о наших услугах, видах работ и типовых проектах,
          рассчитаем стоимость и подготовим индивидуальное предложение!
        </div>
      </div>

      <div class="feedback__form">
        <form action="#">
          <div class="feedback__top">
            <label class="field field-error">
              <input type="text" placeholder="Имя" value="Имя" />
            </label>
            <label class="field">
              <input type="text" placeholder="Телефон" class="mask" />
            </label>
          </div>
          <label class="field">
            <input type="text" placeholder="Комментарий" />
          </label>
          <label class="checkbox">
            <span class="checkbox__inner">
              <input type="checkbox" />
              <span></span>
            </span>
            <span class="checkbox__text">
              Я даю свое согласие на обработку персональных данных, в
              соответствии с ФЗ от 27.07.2006 года №152-ФЗ «О персональных
              данных», на условиях и для целей, определенных в
              <a href="#">Согласии на обработку персональных данных</a>
            </span>
          </label>

          <button class="feedback__btn btn btn-blue">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</div>
