<div class="pr-system">
  <div class="container">
    <div class="pr-system__inner">
      <h3 class="pr-system__title title">Требования к системе</h3>

      <div class="pr-system__list">
        <ul>
          <li>
            Технические средства охранной сигнализации, должны входить в список
            технических средств безопасности, удовлетворяющих «Единым
            требованиям к системам передачи извещений и объектовым техническим
            средствам охраны, предназначенным для применения в подразделениях
            вневедомственной охраны войск национальной гвардии Российской
            Федерации»;
          </li>

          <li>Система должна иметь резервный канал связи с ПЦН;</li>
        </ul>

        <ul>
          <li>
            Система должна передавать информацию о состоянии объекта на ПЦН
            «Приток-А», а также дублировать информацию на смартфон собственника;
          </li>
          <li>
            Система должна быть максимально информативной (при возникновении
            тревожной ситуации, оператор ПЦН и собственник должны получить
            информацию, в каком помещении и какой рубеж/извещатель сработал);
          </li>

          <li>
            Оборудование системы должно минимально нарушать внутреннюю отделку
            помещений.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
