@use '../../../style/scss/variables.scss' as *;

.pr-dec {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 25px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 20px;
      line-height: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-gap: 30px;

    align-items: flex-start;

    padding: 30px;
    border-radius: 20px;
    border: 1px solid $gray;


    @media only screen and (max-width: 991px) {
      padding: 15px;
      grid-template-columns: 1fr;
    }


    .card__grid p {
      @media only screen and (max-width: 991px) {
        text-align: right;
        max-width: 100%;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__head {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__desc {
    p {
      display: block;
      margin-bottom: 15px;
    }
  }
}
