@use '../../../style/scss/variables.scss' as *;

.card {
  padding: 15px;
  border: 1px solid $gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  &:hover {
    .card__name {
      color: $primary;
    }
  }

  &__labels {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    gap: 10px;

    span {
      padding: 5px 10px;
      border-radius: 5px;
      color: #fff;

      @media only screen and (max-width: 991px) {
        font-size: 13px;
      }

      &.red {
        background: #d9534f;
      }

      &.green {
        background: #1e9f93;
      }

      &.yellow {
        background: #f0ad4e;
      }
    }
  }

  &__top {
    position: relative;
    width: 100%;
    padding: 38px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 10;
    width: 100%;
  }

  &__img {
    display: flex;
    align-items: center;
    height: 180px;
    justify-content: center;

   

    @media only screen and (max-width: 991px) {
      height: 174px;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 10;

    &:hover {
      color: $primary;
    }

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__srav {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &.active {
      color: $primary;
      .card__svg--active {
        display: flex;
      }

      .card__svg--inactive {
        display: none;
      }
    }

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__modal {
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      color: $primary;


      svg {
        path {
          stroke: $primary;
        }
      }
    }

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-weight: 600;
    color: $primary;
    font-size: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__as {
    display: flex;
    align-items: center;
    grid-area: 10px;
  }

  &__btn {
    width: 131px;

    @media only screen and (max-width: 991px) {
      width: 121px;
      height: 40px;
      font-size: 14px;
    }
  }

  &__svg {
    transition: 300ms;

    &--active {
      display: none;
    }

    &--inactive {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__like {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    justify-content: center;
    background: $lgray;
    margin-left: 10px;
    cursor: pointer;

    &.active {
      background: $primary;

      svg {
        path {
          stroke: #fff;
        }
      }
    }

    @media only screen and (max-width: 991px) {
      width: 40px;
      height: 40px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// Card-wide

.card-wide {
  display: grid;
  grid-template-columns: 2.1fr 3fr;
  grid-gap: 50px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  @media only screen and (max-width: 991px) {
    position: relative;
    padding-bottom: 120px;
  }

  .card {
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__info {
      flex-grow: 0;

      @media only screen and (max-width: 991px) {
        position: absolute;
        bottom: 15px;
        width: 100%;
        right: 0;
        padding: 0 15px;
      }
    }

    &__img {
      height: 225px;

      @media only screen and (max-width: 991px) {
        height: 174px;
      }
    }
  }
}

.card {
  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    position: relative;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      gap: 48px;
      align-items: flex-start;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-bottom: 1px dashed $gray;
      width: 100%;
      height: 1px;
      bottom: 5px;

      @media only screen and (max-width: 991px) {
        bottom: auto;
        top: 12px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      background: #fff;
      padding-right: 5px;
      position: relative;
      z-index: 1;
    }

    p {
      padding-left: 5px;
      background: #fff;
      position: relative;
      z-index: 1;
    }
  }
}
