@use '../../../style/scss/variables.scss' as *;

.choose-faq {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }


  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      margin-bottom: 20px;
    }

    span {
      padding: 10px 25px;
      background: $lgray;
      border-radius: 10px;
      cursor: pointer;

      transition: 300ms;

      @media only screen and (max-width: 991px) {
        font-size: 14px;
      }

     

      &:hover {
        color: $primary;
      }

      &.active {
        background: $primary;
        color: #fff;
      }
    }
  }

  &__item {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 15px;
      padding: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      align-items: flex-start;
    }

    &--name {
      font-weight: 600;
      max-width: 80%;
    }

    &--arrow {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 54px;
      height: 54px;
      background: #fff;
      border-radius: 10px;
      position: relative;
      cursor: pointer;


      @media only screen and (max-width: 991px) {
        width: 40px;
        height: 40px;
      }

      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background: $primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        display: block;
        height: 14px;
        width: 2px;
        background: $primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.active {
      .choose-faq__head--arrow {

        &::after {
          display: none;
        }
      }
    }
  }

  &__body {
    margin-top: 30px;
    max-width: 80%;

    display: none;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      margin-top: 15px;
    }

    &.active {
      display: block;
    }
  }

  &__items {
    display: none;

    &.active {
      display: block;
    }
  }
}
