@use '../../../style/scss/variables.scss' as *;

.vac-detal {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    background: $lgray;
    border-radius: 20px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      margin-bottom: 30px;
    }
  }

  &__info {
    >span {
      padding-bottom: 30px;
      border-bottom: 1px solid $gray;
      margin-bottom: 30px;
      display: block;

      @media only screen and (max-width: 991px) {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
  

  &__item {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }

    display: flex;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    span {
      color: #525558;
    }

    p {
      font-weight: 600;
    }
  }

  &__img {
    flex-shrink: 0;
    margin-left: 50px;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  &__grids {
  }

  &__grid {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }

    ul {
      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          background: $primary;
          left: 0;
          top: 6px;
          border-radius: 2px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
}
