// .modal {
//   border-radius: 20px;
//   padding: 50px;
//   position: relative;
//   display: none;

//   @media only screen and (max-width: 991px) {
//     padding: 20px;
//   }

//   .carousel__button {
//     display: none !important;
//   }

//   &__close {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     right: 21px;
//     top: 21px;
//     position: absolute;

//     @media only screen and (max-width: 991px) {
//       right: 15px;
//       top: 15px;
//       width: 10px;
//       height: 10px;
//     }
//   }

//   &__title {
//     font-family: 'Kelson';
//     font-weight: 400;
//     font-size: 50px;
//     color: #000;
//     text-align: center;
//     margin-bottom: 5px;

//     @media only screen and (max-width: 991px) {
//       font-size: 24px;
//     }
//   }

//   &__text {
//     text-align: center;
//     color: #5D6770;
//     margin-bottom: 30px;

//     @media only screen and (max-width: 991px) {
//       font-size: 14px;
//     }
//   }


//   &__btn {
//     margin: auto;

//     @media only screen and (max-width: 991px) {
//       width: 100%;
//     }
//   }
// }
