<div class="pagination">
  <div class="pagination__wrapper">
    <a class="pagination__btn prev hide" href="">
     <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
  <path d="M1 1L5 5L1 9" stroke="#0060AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </a>
    <div class="pagination__list">
      <span class="pagination__item current">1</span>


      <a href="#" class="pagination__item">2</a>
      <span class="pagination__dots">...</span>
      <a href="#" class="pagination__item">3</a>
    </div>
    <a href="#" class="pagination__btn next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
  <path d="M1 1L5 5L1 9" stroke="#0060AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
		</a>
  </div>


  <a href="#" class="pagination__more btn  btn-blue">Показать еще</a>
</div>
