<div class="pritok-system">
  <div class="container">
    <div class="pritok-system__inner">
      <h3 class="pritok-system__title title">
        Подсистемы программно-аппаратного комплекса "Интегрированная система
        безопасности "Приток-А"
      </h3>

      <div class="pritok-system__text">
        Все необходимые комплектующие можно приобрести в
        <a href="#">Каталоге</a>
      </div>

      <div class="pritok-system__items">
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
        <a href="#" class="catalog-s__item">
          <div class="catalog-s__icon">
            <img src="images/ps-1.png" alt="" />
          </div>

          <div class="catalog-s__text">
            <p>Приборы для работы по каналам связи GSM</p>

            <span>Новая линейка приборов для охраны по каналам Интернет</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
