@use '../../../style/scss/variables.scss' as *;

.price-block {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    padding: 50px;
    background: $primary;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
      padding: 20px;
    }

    span {
      display: block;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 20px;
      color: $lgray;
      max-width: 650px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
  }

  &__body {
    display: none;
    margin-top: 30px;

    @media only screen and (max-width: 991px) {
      margin-top: 20px;
    }

    &.active {
      display: block;
    }
  }

  &__item {
    padding: 30px;
    background: $lgray;
    border-radius: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.mobile {
      @media only screen and (max-width: 991px) {
        .price-block__head {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.active {
      .price-block__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    width: 54px;
    height: 54px;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    transition: 300ms;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 10px;

    @media only screen and (max-width: 991px) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background: $primary;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: $primary;
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    transition: 300ms;

    @media only screen and (max-width: 991px) {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
    }

    svg {
      path {
        transition: 300ms;
      }
    }

    &:hover {
      background: #fff;
      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  &__label {
    font-size: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__up {
    display: grid;
    grid-template-columns: 1.6fr 1.5fr 3fr 1fr 1fr 1fr;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      display: none;
    }

    span {
      padding: 15px 20px;
      font-size: 14px;
      font-weight: 600;
      display: block;
    }
  }

  &__grid {
    @media only screen and (max-width: 991px) {
      padding-bottom: 48px;
      position: relative;
    }

    &--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
      font-weight: 600;

      @media only screen and (max-width: 991px) {
        border-bottom: 0;
        padding: 10px 0;
      }

      a {
        color: $primary;

        &:hover {
          color: #0078bf;
        }

        @media only screen and (max-width: 991px) {
          position: absolute;
          left: 0;
          bottom: 20px;
        }
      }
    }

    &--mobile {
      display: none;

      @media only screen and (max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;

        color: $primary;
        font-size: 14px;
        font-weight: 600;

        &.active {
          svg {
            transform: rotate(0);
          }
        }

        svg {
          transform: rotate(180deg);
          transition: 300ms;
        }
      }
    }

    &--item {
      display: grid;
      grid-template-columns: 1.6fr 1.5fr 3fr 1fr 1fr 1fr;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        display: none;

        &.active {
          display: block;
        }
      }

      a {
        padding: 15px 20px;
        color: $primary;
        font-weight: 600;
        font-size: 14px;

        &:hover {
          color: #0078bf;
        }

        @media only screen and (max-width: 991px) {
          padding: 0;
          display: none;
        }
      }

      p {
        padding: 15px 20px;
        font-size: 14px;

        b {
          display: none;

          @media only screen and (max-width: 991px) {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }

        @media only screen and (max-width: 991px) {
          padding: 3px 0;
        }
      }
    }
  }

  &__foot {
    background: $primary;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 30px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;

      align-items: flex-start;
      gap: 10px;
      margin-top: 20px;
      padding: 15px;
    }
    &--name {
      font-size: 20px;
      color: #fff;
      font-weight: 600;
    }

    &--btns {
      display: flex;
      align-items: center;
      gap: 20px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #fff;
        border-radius: 10px;
        padding: 15px 30px;
        color: $primary;
        font-weight: 600;
        transition: 300ms;
        border: 1px solid #fff;

       

        @media only screen and (max-width: 991px) {
          width: 100%;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          path {
            transition: 300ms;
          }
        }

        &:hover {
          border: 1px solid #fff;
          background: $primary;
          color: #fff;

          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }
}
