@use '../../../style/scss/variables.scss' as *;

.garant {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }
  &__item {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
      .garant__arrow {
        transform: rotate(0);
      }
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 700;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    transition: 300ms;
    transform: rotate(180deg);
    flex-shrink: 0;

    @media only screen and (max-width: 991px) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background: $primary;

      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__body {
    margin-top: 30px;
    display: none;

    @media only screen and (max-width: 991px) {
      margin-top: 15px;
    }

    &.active {
      display: block;
    }
  }

  &__grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    @media only screen and (max-width: 991px) {
      grid-gap: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 20px;
    padding: 30px;
    border-radius: 20px;
    background: #fff;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      padding: 15px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 20px;
    color: $primary;
    font-weight: 600;
    margin-bottom: 15px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 10px;
    overflow: hidden;
    height: 226px;
    
    @media only screen and (max-width: 991px) {
      width: 100%;
      height: 381px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    max-height: 131px;
    overflow: hidden;

    position: relative;

    a {
      color: $primary;
    }

    @media only screen and (max-width: 991px) {
      max-height: 90px;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;

    
    }

    &.no-before {
      &::before {
        display: none;
      }
    }

    &.is-open {
      max-height: 100%;

      @media only screen and (max-width: 991px) {
          -webkit-line-clamp: unset;
      }

      &::before {
        display: none;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      height: 30px;
      bottom: 0;
      width: 100%;
      left: 0;

      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  &__link {
    font-weight: 600;
    color: $primary;
    flex-grow: 10;
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
  }

  &__more {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }

    &.is-open {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
