<div class="garant">
  <div class="container">
    <div class="garant__inner">
      <div class="garant__items">
        <div class="garant__item ">
          <div class="garant__head active">
            <div class="garant__name">
              Реестры Минпромторг России и Минцифры России
            </div>

            <div class="garant__arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M8 14L12 10L16 14"
                  stroke="#0060AA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="garant__body active">
            <div class="garant__grids">
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text no-before">
                   Приказ № 653 от 14.12.2016
                  </div>
                 
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="garant__item">
          <div class="garant__head">
            <div class="garant__name">
              Реестры Минпромторг России и Минцифры России
            </div>

            <div class="garant__arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M8 14L12 10L16 14"
                  stroke="#0060AA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="garant__body">
            <div class="garant__grids">
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: Клавиатуры ППКОП(-01, -02,
                    (М4), -16(М4), NFC(М4), -16 NFC(М4), NFC(8), NFC(16),
                    -03(8), -03(16), -04, -05). Пульты выносные:ППКОП,ППКОП
                    (-01, -02, -03, -04, (16)). Модуль индикации МИ-30.
                    Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: индикации МИ-30.
                    Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="garant__item">
          <div class="garant__head">
            <div class="garant__name">
              Реестры Минпромторг России и Минцифры России
            </div>

            <div class="garant__arrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M8 14L12 10L16 14"
                  stroke="#0060AA"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>

          <div class="garant__body">
            <div class="garant__grids">
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
              <div class="garant__grid">
                <div class="garant__img">
                  <img src="images/g1.png" alt="" />
                </div>

                <div class="garant__info">
                  <div class="garant__label">
                    Выписка из реестра IT-организаций
                  </div>
                  <div class="garant__text">
                    ЕАЭС RU C-RU.ПБ68.В.00257/21Настоящий сертификат
                    подтверждает, что продукция ООО "ОБ "СОКРАТ" соответствует
                    требованиям ТР ЕАЭС 043/2017 "О требованиях к средствам
                    обеспечения пожарной безопасности и пожаротушения".
                    Продукция, на которую распространяется действие сертификата:
                    Система передачи извещений о пожаре "ПРИТОК-А" в составе:
                    Приборы Приёмно-контрольные охранно-пожарные:ППКОП
                    011-8-1-06 (-06-01, 06-02),ППКОП 011-8-1-061К (-061К(8),
                    -061К(16)),ППКОП 011-8-1-064-1К,ППКОП 011-8-1-011М
                    (-011М(3), -011М(4), -011М(8), -011-1К, -011-2). Контроллеры
                    охранно-пожарные:Приток-А-КОП-01 (-01(8), -01(16), -01
                    исп.1, -01 исп.2, -01 исп.3),Приток-А-КОП-02 (-02.1, -02.2,
                    -02.4, -02.4К, -02.6),Приток-А-КОП-03 (-03(4), -03(8),
                    -03(16), -03(4)2G, -03(8)2G, -03(16)2G, -03(8)3G,
                    -03(16)3G),Приток-А-КОП-04 (-04 исп.2, -04 исп.3, -04D, -04D
                    исп.1, -04D исп.2),Приток-А-КОП-05,Приток-А-КОП-06.
                    Источники бесперебойного питания Приток-ИП-01 (-02, -03,).
                    Клавиатуры ППКОП(-01, -02, (М4), -16(М4), NFC(М4), -16
                    NFC(М4), NFC(8), NFC(16), -03(8), -03(16), -04, -05). Пульты
                    выносные:ППКОП,ППКОП (-01, -02, -03, -04, (16)). Модуль
                    индикации МИ-30. Модули:Приток-А-ВС(-01, -02,
                    -03),Приток-А-МС-01,Приток-А-МБД (-01.1, -02.1, -03, -03.1,
                    -03.2),Приток-А-МАД (-01, -02, -03),Приток-А-МРР (-01, -02,
                    -03, -04),Приток-А-МРШ (-01, -02, -02(16), -03),Приток-А-ММ
                    GSM (2G, 3G),Приток-А-ММ (-01, -02, -03, -04). Базовые
                    модули:Приток-А-Р-БМ (-01, -02),Приток-А-БМ (-03, -04). Срок
                    действия сертификата соответствия с 20.04.2021 по
                    19.04.2026. Статус сертификата: <a href="#">Проверить</a>
                  </div>
                  <div class="garant__more">
                    <span>Показать весь текст</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                    >
                      <path
                        d="M7.66667 1L4.33333 4.33333L1 1"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                  <a href="#" class="garant__link">Скачать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
