

.ops {

  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }


  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 50px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }


    a {
      color: #0060AA;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}