

<div class="ops">
  <div class="container">
    <div class="ops__inner">
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>

      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>

      <a href="#">
        Технические требования к компьютерам для установки ПО Приток-А.
      </a>
    </div>
  </div>
</div>