@use '../../../style/scss/variables.scss' as *;

.present {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;

    @media only screen and (max-width: 991px) {
      padding: 15px 10px;
      gap: 10px;
    }

    svg {
      @media only screen and (max-width: 991px) {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }

    &:hover {
      background: $lgray;

      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}
