@use '../../../style/scss/variables.scss' as *;

.listing {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-gap: 30px;

  

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 28px;
    }
  }

  &__filter {
    background: $lgray;
    border-radius: 20px;
    padding: 30px;
    height: fit-content;

    @media only screen and (max-width: 991px) {
      padding: 0;
      background: none;
      border-radius: 0;
    }
  }

  &__rec {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 1px solid $gray;

    @media only screen and (max-width: 991px) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__hit {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    border-radius: 10px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &.red {
      background: #d9534f;
    }

    &.green {
      background: #1e9f93;
    }

    &.yellow {
      background: #f0ad4e;
    }

    &--close {
      display: none;
      align-items: center;
      cursor: pointer;

      &.active {
        display: flex;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 5px;

    @media only screen and (max-width: 991px) {
      > span {
        display: none;
      }
    }

    &--head {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--arrow {
      display: flex;
      align-items: center;
      margin-left: 5px;
    }

    &--aside {
      position: relative;
      cursor: pointer;
    }

    &--info {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--dropdown {
      position: absolute;
      width: 187px;
      padding: 20px;
      z-index: 10;
      background: $lgray;
      border-radius: 20px;
      left: -30px;
      top: 30px;
      display: none;

      @media only screen and (max-width: 991px) {
        left: 0;
      }

      &.active {
        display: block;
      }
    }

    &--item {
      margin-bottom: 10px;
      cursor: pointer;

      &.active {
        color: $primary;
      }

      &:hover {
        color: $primary;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

    @media only screen and (max-width: 991px) {
      padding: 10px;
      span {
        display: none;
      }
    }

    &.active {
      background: $lgray;
    }

    &:hover {
      background: $primary;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .filter__mobile {
    display: none;

    @media only screen and (max-width: 991px) {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }


  &__grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
}
