<div class="favorites">
  <div class="container">
    <div class="favorites__inner">
      <div class="favorites__items">
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__top">
            <div class="card__labels">
              <span class="red">Хит продаж</span>
              <span class="green">Рекомендуемое</span>

              <span class="yellow">Новинка</span>
            </div>
            <a href="#" class="card__img">
              <img src="images/card.png" alt="" />
            </a>
          </div>
          <div class="card__info">
            <a href="#" class="card__name">Приток-А-КОП-01 исп.1</a>

            <div class="card__aside">
              <div class="card__srav">
                <span>Сравнить</span>

                <div class="card__svg">
                  <div class="card__svg--active">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="10"
                      viewBox="0 0 13 10"
                      fill="none"
                    >
                      <path
                        d="M1 4.53556L4.53553 8.0711L11.6062 1"
                        stroke="#0060AA"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>

                  <div class="card__svg--inactive">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                    >
                      <path
                        d="M1.00065 6L1.00065 12.6667M5.16732 1L5.16732 12.6667M9.33398 6L9.33398 12.6667"
                        stroke="#202020"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>

              <a href="#card-popup" data-fancybox="" class="card__modal">
                <span>Быстрый просмотр</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.83268 9.16669L5.83268 15.8334M9.99935 4.16669L9.99935 15.8334M14.166 9.16669L14.166 15.8334"
                    stroke="#202020"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </a>
            </div>

            <div class="card__foot">
              <div class="card__price">16 136 ₽</div>

              <div class="card__as">
                <a href="#" class="card__btn btn btn-blue">В корзину</a>

                <a href="#" class="card__like active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12 8.19444C10 3.5 3 4 3 10C3 16.0001 12 21 12 21C12 21 21 16.0001 21 10C21 4 14 3.5 12 8.19444Z"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
