<div class="sk-banner sk-banner-dec">
  <div class="container">
    <div class="sk-banner__inner">
      <div class="sk-banner__top">
        <h2 class="sk-banner__title title">Типовые решения — <br> это выгодно</h2>

        <div class="sk-banner__text">
         Мыслим о безопасности, чтобы вы могли думать о бизнесе
        </div>
       
      </div>


      <div class="sk-banner__items">
        <div class="sk-banner__item">
          <span>Оптимизация <br> бюджета</span>
          <p>Оптимальные по цене и качеству решения на основе готовых комплектов</p>
        </div>
        <div class="sk-banner__item">
          <span>Предсказуемый <br> результат</span>
          <p>Вы заранее знаете, какую систему и уровень защиты получите</p>
        </div>
        <div class="sk-banner__item">
          <span>Учет <br> специфики</span>
          <p>Каждое решение адаптировано под конкретный тип объекта</p>
        </div>
      </div>
    </div>
  </div>
</div>
