@use '../../../style/scss/variables.scss' as *;

.pritok-showcase {
  
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }


  .sk-banner__inner {
    background: url('../../../images/pritok-showcase.png') 50% 50%;
    background-size: cover;
    min-height: 600px;

    @media only screen and (max-width: 991px) {
      background: url('../../../images/pritok-showcase-mobile.png') 50% 50%;
      background-size: cover;
      min-height: 590px;
    }
  }


  .sk-banner {

    &__top {
      max-width: 700px;
    }

    &__title {
      @media only screen and (max-width: 991px) {
        line-height: 100%;
      }
    }

    &__text {
      max-width: 650px;
      margin-bottom: 0;
    }
  }
}
