<div class="pritok-showcase">
  <div class="container">
    <div class="sk-banner__inner">
      <div class="sk-banner__top">
        <h2 class="sk-banner__title title">
          Интегрированные системы безопасности нового поколения
        </h2>
      </div>

      <div class="sk-banner__text">
        ПАК ИСБ «ПРИТОК-А» — это масштабируемый программно-аппаратный комплекс,
        предназначенный для построения интегрированных систем безопасности любой
        сложности: от охраны малых объектов до защиты критически важных
        инфраструктурных объектов федерального уровня.
      </div>
    </div>
  </div>
</div>
