@use '../../../style/scss/variables.scss' as *;

.detal {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    background: $lgray;
    padding: 50px;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__top {
    @media only screen and (max-width: 991px) {
      padding-bottom: 50px;
    }
    .swiper-pagination {
      display: none;

      @media only screen and (max-width: 991px) {
        display: block;
      }
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__top {
    max-width: 650px;
    flex-grow: 10;

    @media only screen and (max-width: 1400px) {
      max-width: 400px;
    }

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      padding: 77px 0;
    }
  }

  &__container {
    max-width: 650px;
    cursor: grab;

    @media only screen and (max-width: 1400px) {
      max-width: 400px;
    }

    @media only screen and (max-width: 991px) {
      display: none;
    }

    &--item {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 10px;
      border: 1px solid transparent;

      @media only screen and (max-width: 1400px) {
        height: 59px;
      }

      &.swiper-slide-thumb-active {
        border: 1px solid $primary;
      }
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    gap: 148px;

    @media only screen and (max-width: 991px) {
      gap: 0;
      margin-bottom: 20px;
    }
  }

  &-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 100px;

    @media only screen and (max-width: 1400px) {
      grid-template-columns: 400px 1fr;
    }

    @media only screen and (max-width: 991px) {
      display: block;
      margin-bottom: 60px;
    }
  }

  &__aside {
    background: #fff;
    padding: 50px;
    border-radius: 20px;

    @media only screen and (max-width: 1200px) {
      padding: 15px;
    }

    .card-popup__basket {
      width: 131px;

     
    }

    &--quest {
      width: 157px;
      border: 1px solid $primary;
      font-weight: 600;
      color: $primary;
      flex-shrink: 0;

      @media only screen and (max-width: 1200px) {
        width: 100%;
        grid-column: span 2;
      }

      @media only screen and (max-width: 991px) {
        grid-column: span 1;
      }
    }

    &--foot {
      margin-top: 50px;

      @media only screen and (max-width: 991px) {
        margin-top: 20px;
      }

      .card-popup__aside {
        flex-grow: 10;
        justify-content: flex-end;
      }

      .card-popup__price {
        @media only screen and (max-width: 991px) {
          font-weight: 600;
          font-size: 20px;
        }
      }

      .card-popup__foot {
        @media only screen and (max-width: 1200px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 15px;
        }

        @media only screen and (max-width: 991px) {
          grid-template-columns: 1fr;
        }
      }

      .card-calc {
        height: 44px;
        width: 131px;

        @media only screen and (max-width: 991px) {
          height: 40px;
        }
      }
    }

    &--top {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &--text {
      color: $Darkestgray;
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    &--info {
      > span {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        display: block;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }
  }

  &-tabs {
    &__top {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        padding: 15px;
        background: #fff;
        margin-top: 10px;

        border-radius: 10px;

        display: none;

        &.active {
          display: block;
        }
      }

      span {
        padding: 10px 25px;
        background: #fff;
        border-radius: 10px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          color: $primary;
        }

        @media only screen and (max-width: 991px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $lgray;
          margin-bottom: 10px;
          height: 42px;


          &:last-child {
            margin-bottom: 0;
          }
        }

        &.active {
          background: $primary;
          color: #fff;

          @media only screen and (max-width: 991px) {
            background: $lgray;
            color: $primary;
          }
        }
      }
    }

    &__content {
      background: #fff;
      padding: 50px;
      border-radius: 20px;

      @media only screen and (max-width: 991px) {
        padding: 15px;
        margin-top: 20px;
      }
    }

    &__item {
      display: none;

      &.active {
        display: block;
      }
    }

    &__mobile {
      display: none;

      @media only screen and (max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 42px;
        background: $primary;
        color: #fff;
        padding: 10px 25px;
        border-radius: 10px;

        &.active {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          transition: 300ms;
        }

        span {
          flex-grow: 10;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  // &-prod

  &-prod {
    &__item {
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
      }

      span {
        &.wide {
          max-width: 50%;
          display: block;

          @media only screen and (max-width: 991px) {
            max-width: 100%;
          }
        }
      }
    }
  }

  &-char {
    &__item {
      margin-bottom: 50px;


      .card-char {
        >span {
          font-size: 20px;
        }
      }

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__grids {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }

  &-doc {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;


    .card-doc__name {
      @media only screen and (max-width: 991px) {
        font-size: 18px;

      }

    }
    .card-doc__item{ 
      @media only screen and (max-width: 991px) {
        height: auto;
        gap: 30px;
      }
    }
  }


  &__calc {
    display: none;

    &.active {
      display: block;
    }
  }
}


