@use '../../../style/scss/variables.scss' as *;

.search-block {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__s {
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 20px;
    }

    a {
      color: $primary;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      gap: 10px;
      margin-bottom: 20px;
    }

    span {
      padding: 10px 25px;
      background: $lgray;
      border-radius: 10px;

      transition: 300ms;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: $primary;
      }

      &.active {
        background: $primary;

        color: #fff;
      }
    }
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}

.search {
  &-t {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  &-stats {
    &__items {
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        display: grid;
        grid-gap: 20px;
      }
    }
    &__item {
      padding: 30px;
      display: grid;
      grid-template-columns: 310px 1fr;
      grid-gap: 50px;
      align-items: flex-start;

      border-radius: 20px;
      cursor: pointer;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 15px;
      }

      &:hover {
        background: $lgray;

        .search-stats__head {
          p {
            color: $primary;
          }
        }
      }
    }

    &__img {
      display: flex;
      align-items: center;
      height: 225px;
      width: 310px;
      flex-shrink: 0;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    &__head {
      flex-grow: 10;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      span {
        display: block;
        margin-bottom: 10px;

        color: $Darkestgray;

        @media only screen and (max-width: 991px) {
          font-size: 14px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 600;

        @media only screen and (max-width: 991px) {
          font-size: 18px;
        }
      }
    }

    &__text {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      align-self: stretch;
      overflow: hidden;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
    }
  }

  &-instr {

    &__items {
      margin-bottom: 30px;
    }

    &__arrow {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 15px;
    }



    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      cursor: pointer;
      transition: 300ms;
      border-radius: 10px;

      @media only screen and (max-width: 991px) {
        padding: 10px;
      }

      svg {
        path {
          transition: 300ms;
        }
      }

      &:hover {
        color: $primary;
        background: $lgray;


        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }
  }
}
