<div class="search-block">
  <div class="container">
    <div class="search-block__inner">
      <div class="search-block__s">
        По запросу <a href="#">“Приток”</a> найдено
        <a href="#">164</a> результатов
      </div>

      <div class="search-block__nav">
        <span data-search-tab class="active">Товары (40)</span>
        <span data-search-tab>Проекты (2)</span>
        <span data-search-tab>Статьи (84)</span>

        <span data-search-tab>Инструкции (16)</span>
      </div>

      <div class="search-block__items">
        <div class="search-block__item active" data-search-item>
          <div class="search-t">
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
            @@include('../../elements/card/template.html',{})
          </div>
        </div>

        <div class="search-block__item" data-search-item>
          <div class="search-projects">
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
            <div class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </div>
          </div>
        </div>

        <div class="search-block__item" data-search-item>
          <div class="search-stats">
            <div class="search-stats__items">
              <a href="#" class="search-stats__item">
                <div class="search-stats__img">
                  <img src="images/d1.png" alt="" />
                </div>

                <div class="search-stats__content">
                  <div class="search-stats__head">
                    <span>24.03.2025</span>
                    <p>Версия программного обеспечения «Приток-А» 3.8.2</p>
                  </div>

                  <div class="search-stats__text">
                    ООО ОБ «СОКРАТ» с радостью сообщает о выпуске новой версии
                    программного обеспечения «Приток-А» 3.8.2 Обновление
                    включает в себя ряд значительных улучшений и новых функций,
                    направленных на повышение удобства пользователей и
                    расширение функциональных возможностей системы.
                  </div>
                </div>
              </a>
              <a href="#" class="search-stats__item">
                <div class="search-stats__img">
                  <img src="images/d1.png" alt="" />
                </div>

                <div class="search-stats__content">
                  <div class="search-stats__head">
                    <span>24.03.2025</span>
                    <p>Версия программного обеспечения «Приток-А» 3.8.2</p>
                  </div>

                  <div class="search-stats__text">
                    ООО ОБ «СОКРАТ» с радостью сообщает о выпуске новой версии
                    программного обеспечения «Приток-А» 3.8.2 Обновление
                    включает в себя ряд значительных улучшений и новых функций,
                    направленных на повышение удобства пользователей и
                    расширение функциональных возможностей системы.
                  </div>
                </div>
              </a>
              <a href="#" class="search-stats__item">
                <div class="search-stats__img">
                  <img src="images/d1.png" alt="" />
                </div>

                <div class="search-stats__content">
                  <div class="search-stats__head">
                    <span>24.03.2025</span>
                    <p>Версия программного обеспечения «Приток-А» 3.8.2</p>
                  </div>

                  <div class="search-stats__text">
                    ООО ОБ «СОКРАТ» с радостью сообщает о выпуске новой версии
                    программного обеспечения «Приток-А» 3.8.2 Обновление
                    включает в себя ряд значительных улучшений и новых функций,
                    направленных на повышение удобства пользователей и
                    расширение функциональных возможностей системы.
                  </div>
                </div>
              </a>
            </div>

            @@include('../../elements/pagination/template.html',{})
          </div>
        </div>

        <div class="search-block__item" data-search-item>
          <div class="search-instr">
            <div class="search-instr__items">
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-instr__item">
                <div class="search-instr__text">
                  Технические требования к компьютерам для установки ПО
                  Приток-А.
                </div>
                <div class="search-instr__arrow">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M6.22207 17.8492L17.5358 6.53553M17.5358 6.53553L10.8575 6.1427M17.5358 6.53553L17.9286 13.2138"
                      stroke="#202020"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>

            @@include('../../elements/pagination/template.html',{})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
