@use '../../../style/scss/variables.scss' as *;

.doc {
 margin: 140px 0;

  @media only screen and (max-width: 991px) {
    margin: 80px 0;
  }

  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__content {
    background: $lgray;
    padding: 50px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 74px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }

  &__left {
    span {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      color: $primary;
      margin-bottom: 30px;
      display: block;

      @media only screen and (max-width: 991px) {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 16px;
      color: $Darkestgray;
    }
  }

  &__info {
    padding: 30px;
    text-align: center;
    background: $primary;
    border-radius: 20px;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__label {
    text-align: center;
    max-width: 340px;
    display: block;
    color: $gray;
    margin: 0 auto;
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    line-height: 100%;

    @media only screen and (max-width: 991px) {
      font-size: 38px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    height: 54px;
    max-width: 220px;
    margin: 0 auto;
    gap: 10px;

    &:hover {
      border: 1px solid #fff;
    }

    @media only screen and (max-width: 991px) {
      max-width: 100%;
      height: 44px;
    }
  }
}
