@use '../../../style/scss/variables.scss' as *;

.order {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__top {
    background: $lgray;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      padding: 15px;

      align-items: flex-start;
      font-size: 14px;
      gap: 15px;
    }

    &--left {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-weight: 600;
        font-size: 20px;

        @media only screen and (max-width: 991px) {
          font-size: 16px;
        }
      }
    }

    &--price {
      font-size: 20px;
      font-weight: 600;

      @media only screen and (max-width: 991px) {
        font-size: 16px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }
  }

  &__item {
    padding: 30px;
    border-radius: 20px;
    background-color: $lgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: 991px) {
      padding: 15px;
    }
  }

  &__label {
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    height: 140px;

    @media only screen and (max-width: 991px) {
      height: 74px;
    }
  }

  &__grids {
    flex-grow: 10;
    width: 100%;
  }

  &__grid {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid $gray;
    flex-grow: 10;
    min-height: 200px;

    @media only screen and (max-width: 991px) {
      min-height: inherit;
      gap: 10px;
    }

    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 0;

    @media only screen and (max-width: 991px) {
      gap: 12px;
      padding: 0;
    }
  }

  &__aside {
    width: 100%;

    &--label {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;

      @media only screen and (max-width: 991px) {
        font-size: 18px;
      }
    }

    &--item {
      margin-bottom: 30px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--grid {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      justify-content: space-between;

      p {
        color: $Darkestgray;
      }

      @media only screen and (max-width: 991px) {
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
      }

      a {
        color: $primary;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;

    @media only screen and (max-width: 991px) {
      margin-top: 5px;
      gap: 10px;
    }
  }

  &__cancel {
    width: fit-content;
    padding: 15px 25px;
    border: 1px solid $primary;
    flex-shrink: 0;
    color: $primary;

    &:hover {
      background: #0078BF;
      border: 1px solid #0078BF;
      color: #fff;
    }

    @media only screen and (max-width: 991px) {
      width: 100%;
      flex-shrink: inherit;
      padding: 0;
      font-size: 14px;
    }
  }

  &__btn {
    width: fit-content;
    padding: 15px 25px;

    @media only screen and (max-width: 991px) {
      width: 100%;
      flex-shrink: inherit;
      font-size: 14px;
      padding: 0;
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;

    @media only screen and (max-width: 991px) {
      font-size: 18px;
      line-height: 100%;
    }
  }

  &__img {
    flex-shrink: 0;
  }

  &__back {
    display: flex;
    align-items: center;
    cursor: pointer;

    gap: 10px;

    &:hover {
      color: $primary;

      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}
