<div class="sk-banner sk-banner-white">
  <div class="container">
    <div class="sk-banner__inner">
      <div class="sk-banner__top">
        <h1 class="sk-banner__title title">Программное обеспечение Сократ</h1>

        <div class="sk-banner__text">
        Платформа для мониторинга и управления охранными системами обеспечивает надёжный контроль объектов и оперативное реагирование на события.
        </div>
        <a href="#" class="sk-banner__btn btn btn-blue">
          <span>Оставить заявку</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M7 12H17M17 12L13 8M17 12L13 16"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>


      <div class="sk-banner__items">
        <div class="sk-banner__item">
          <span>НАДЕЖНОСТЬ</span>
          <p>Стабильная работа и защита без сбоев</p>
        </div>
        <div class="sk-banner__item">
          <span>ТЕХНОЛОГИЧНОСТЬ</span>
          <p>Современные алгоритмы и умная аналитика</p>
        </div>
        <div class="sk-banner__item">
          <span>УДОБСТВО</span>
          <p>Интуитивный интерфейс и простое управление</p>
        </div>
      </div>
    </div>
  </div>
</div>
