@use '../../../style/scss/variables.scss' as *;

.journal {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {

    
    a {
      margin-bottom: 20px;
      display: block;

      color: $primary;
    }
  }
}
