

.price-table {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    >p {
      margin-top: 30px;
      margin-bottom: 50px;
      max-width: 700px;

      @media only screen and (max-width: 991px) {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }


  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      display: flex;
      grid-gap: 0;
    }
  }


  &__container {
    @media only screen and (max-width: 991px) {
      padding-bottom: 48px;
    }
  }
}