<div class="price-table">
  <div class="container">
    <div class="price-table__inner">
      <h3 class="price-table__title title">
        Сравнительные таблицы характеристик комплектов
      </h3>

      <p>
        Контроллер охранно-пожарный Приток-А КОП представлен в нескольких
        конфигурациях (текст про то, что пользователь сможет найти подходящую
        ему модель)
      </p>

      <div class="price-table__container swiper">
        <div class="price-table__items swiper-wrapper">
          <div class="price-table__item swiper-slide">
            <a href="#" class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </a>
          </div>
          <div class="price-table__item swiper-slide">
            <a href="#" class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </a>
          </div>
          <div class="price-table__item swiper-slide">
            <a href="#" class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </a>
          </div>
          <div class="price-table__item swiper-slide">
            <a href="#" class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </a>
          </div>
          <div class="price-table__item swiper-slide">
            <a href="#" class="card-doc__item">
              <div class="card-doc__arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.22183 17.8492L17.5355 6.53553M17.5355 6.53553L10.8573 6.1427M17.5355 6.53553L17.9284 13.2138"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>

              <div class="card-doc__name">
                Краткое руководство по эксплуатации
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
