.dec-showcase {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    border-radius: 20px;

    overflow: hidden;

    @media only screen and (max-width: 991px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 50px;
    border-radius: 20px;
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 991px) {
      padding: 15px;
      gap: 20px;
    }

    span {
      font-size: 25px;
      font-weight: 700;
      display: block;

      @media only screen and (max-width: 991px) {
        font-size: 20px;
      }
    }

    p {
      max-width: 500px;
    }
  }
}
