<div class="dec-showcase">
  <div class="container">
    <div class="dec-showcase__inner">
      <div class="dec-showcase__info">
        <span
          >Готовые, эффективные и экономичные системы безопасности от охранного
          бюро «Сократ»</span
        >
        <p>
          Каждая сфера бизнеса уникальна, но задачи безопасности часто типичны.
          <br />
          <br />
          Мы в бюро «Сократ» знаем все "болевые точки" разных отраслей и
          предлагаем готовые, выверенные решения. Это не просто набор
          оборудования, а комплексная система, которая учитывает специфику
          вашего объекта, законодательные нормы и потенциальные риски.
          <br /><br />Экономьте время и средства — выберите проверенное решение.
        </p>
      </div>

      <div class="dec-showcase__img">
        <img src="images/dec-show.png" alt="" />
      </div>
    </div>
  </div>
</div>
