<div class="modal modal-reg">
  <div class="modal__close">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M18 18L6 6M18 6L6 18"
        stroke="#CAD3D9"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>

  <div class="modal__content">
    <h1 class="feedback__title title">
      В вашем регионе есть местный представитель
    </h1>

    <div class="feedback__text">
      Вы можете получить консультацию, заказать товары и услуги у представителя
      в вашем регионе
    </div>

    <div class="modal-reg__items">
      <div class="modal-reg__item">
        <span>Организация</span>
        <p>ООО "Сейфти"</p>
      </div>
      <div class="modal-reg__item">
        <span>Адрес</span>
        <p>665717, г. Братск, ул. Комсомольская, 49Г</p>
      </div>
      <div class="modal-reg__item">
        <span>Контакты</span>
        <p>Тел.: (395-3) 41-12-99, 41-50-01</p>
        <a href="#">seifty_bratsk@bk.ru</a>
      </div>
    </div>

    <form action="#">
      <label class="checkbox">
        <span class="checkbox__inner">
          <input type="checkbox" />
          <span></span>
        </span>
        <span class="checkbox__text"> Я ознакомлен с информацией о наличии регионального представителя </span>
      </label>
    </form>
  </div>
</div>
