

.pr-schem {
  margin-bottom: 140px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 80px;
  }



  &__title {
    margin-bottom: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
  }
}